div.badge {
    padding: 10px;
}

div.global {
    background-color: lightgrey;
    width: 150px;
    height: 150px;
}

div.metric {
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
}

.svg {
    width: 130px;
    height: 100px;
}

P.badgeTextGlobal {
    margin: 3px;
    font-size: 14px;
}

P.badgeText {
    margin: 3px;
    font-size: 12px;
}

#textGlobalEvaluation {
    font-size: 18px;
} 