div.badge {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-style:solid;
}

div.global {
    background-color: lightgrey;
    width: 150px;
    height: 150px;
    border-color: black;
    border-width: 2px;
}

div.metric {
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    border-color: grey;
    border-width: 1px;
}

.svg {
    width: 130px;
    height: 100px;
}

P.badgeTextGlobal {
    margin: 3px;
    font-size: 14px;
}

P.badgeText {
    margin: 3px;
    font-size: 11px;
}

#textGlobalEvaluation {
    font-size: 18px;
} 