<div id="quotationBadge" *ngIf="(weight === 100) && !thumbnail" class="badge global">
    <p class="badgeTextGlobal">{{title}}</p>
    <p class="badgeTextGlobal">{{weight}}%</p>
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        xml:space="preserve"
        viewBox="0 0 86 66">
        <g>
            <path id="arc1-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <path id="arc2-{{index}}" [ngStyle]="arcStyle(evaluation, weight)" />
            <path id="arc3-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <text x="15px" y="55px" id="textGlobalEvaluation">{{evaluation}}</text>
        </g>
    </svg>
</div>
<div id="quotationBadge" *ngIf="(weight < 100) && !thumbnail" class="badge metric">
    <p class="badgeText">{{title}}</p>
    <p class="badgeText">{{weight}}%</p>
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        xml:space="preserve"
        viewBox="-10 0 130 100">
        <g>
            <path id="arc1-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <path id="arc2-{{index}}" [ngStyle]="arcStyle(evaluation, weight)" />
            <path id="arc3-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <text x="15px" y="55px" id="textGlobalEvaluation">{{evaluation}}</text>
        </g>
    </svg>
</div>
<div id="quotationBadge" *ngIf="thumbnail" class="badge thumbnail">
    <p class="badgeText">{{title}}</p>
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        xml:space="preserve"
        viewBox="0 0 77 60">
        <g>
            <path id="arc1-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <path id="arc2-{{index}}" [ngStyle]="arcStyle(evaluation, weight)" />
            <path id="arc3-{{index}}" [ngStyle]="arcStyle(evaluation, weight)"/>
            <text x="15px" y="55px" id="textGlobalEvaluation">{{evaluation}}</text>
        </g>
    </svg>
</div>