div.qualityRectangle {
	min-height: 230px;
	width: 110px;
	background-color: whitesmoke;
	text-align: center ;
	border-radius: 10%;
    border: 2px solid lightgray;
}

#sonarSummaryBadge, #staffSummaryBadge, #auditSummaryBadge {
	margin: 0 auto;
}

#sonarSummaryBadge {
	width: 100px;
	height: 80px;
}

#sonarSummaryBadge:hover, #staffSummaryBadge:hover, #auditSummaryBadge:hover {
	border-radius: 10%;
	background-color: white;
    border: 1px solid lightgray;
}

#auditSummaryBadge {
	width: 99%;
	height: 70px;
}
