<div class="container">
  <form class="needs-validation" [formGroup]="profileSkill" (ngSubmit)="onSubmit()">
    <div class="row field">
      <h2>Skill Form</h2>
    </div>
    <div class="row field col-6">
      <label for="skill" class="required">Title</label>
      <input type="text" class="form-control required" id="title" name="title" placeholder="Skill title (Required)"
        formControlName="title" />
      <label *ngIf="title.invalid" [ngClass]="'alert alert-warning'" style="width: 100%; font-size: 10px;">
        Title is required.
      </label>
    </div>

    <div class="skill-detection col-7">
      <div class="row field col-11">
        <label for="detectionType">Select the skill detection template</label>
        <select name="detectionType" id="detectionType" (change)="onDetectionModelChange($event)"
          formControlName="detectionType" class="custom-select d-block w-100">
          <option></option>
          <option>One</option>
          <option>Two</option>
        </select>
      </div>
      <div class="row field col-11" *ngIf="detectionTypeSelected()">
        <label for="pattern">Associated panel</label>
        <input type="text" class="form-control required" id="pattern" name="pattern" placeholder="File pattern (Required)"
          formControlName="pattern" />
        <label *ngIf="pattern.invalid" [ngClass]="'alert alert-warning'" style="width: 100%; font-size: 10px;">
          This field is required if you have selected a template.<br/>
          Please enter the associated pattern for the chosen template.<br/>
          '.java$'' might be a valid for the field pattern.
        </label>
      </div>
    </div>

    <hr class="mb-4 col-4">
    <button class="btn btn-primary btn-lg btn-block col-4" 
      type="submit" 
      [disabled]="!profileSkill.valid">Submit</button>
  </form>
</div>