<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="selectedIndexChange($event)">
	<mat-tab>
		<ng-template mat-tab-label>
			<em class="fas glyphicon fa-users-cog logoTabLabel"></em>&nbsp;&nbsp;Project
		</ng-template>
		<ng-template matTabContent>
			<app-project-form 
				[risk$]="risk$"
				(tabActivationEmitter)="tabActivation($event)">
			</app-project-form>
		</ng-template>
	</mat-tab>
	<mat-tab [disabled]="!canConnectSourceControl()">
		<ng-template mat-tab-label>
			<em class="fas glyphicon fa-user-graduate logoTabLabel"></em>&nbsp;&nbsp;Staff
		</ng-template>
		<app-project-staff></app-project-staff> 
	</mat-tab>
	<mat-tab [disabled]="!canConnectSourceControl()">
		<ng-template mat-tab-label>
			<em class="fab fa-github-alt logoTabLabel"></em>&nbsp;&nbsp;Git
		</ng-template>
		<ng-template matTabContent>
			<app-project-sunburst (tabActivationEmitter)="tabActivation($event)"
				(updateRiskLevel)="updateRiskLevel($event)">
			</app-project-sunburst>
		</ng-template>
	</mat-tab>
	<mat-tab label="Sonar">
		<ng-template mat-tab-label>
			<img src="./assets/img/sonar-grey.png" alt="Sonar" class="logoTabLabel"/>&nbsp;&nbsp;Sonar
		</ng-template>
		<ng-template matTabContent>
			<app-project-sonar 
				(updateRiskLevel)="updateRiskLevel($event)" 
				(throwMessage)="catchMessage($event)"
				(tabActivationEmitter)="tabActivation($event)">
			</app-project-sonar>
		</ng-template>
	</mat-tab>
	<mat-tab label="Audit">
		<ng-template mat-tab-label>
			<em class="fas fa-brain logoTabLabel"></em>&nbsp;&nbsp;Audit
		</ng-template>
		<ng-template matTabContent>
			<app-project-audit
				(tabActivationEmitter)="tabActivation($event)">
			</app-project-audit>
		</ng-template>
	</mat-tab>
</mat-tab-group>