@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import './buttons.css';
@import './mat-tab-label.css';
@import './app-css/PopupHelper.css';


:root {
  --color-selected: #28a745; 
  --color-success: #28a745; 
  --color-error: darkred;
  --color-warning: darkred;
  --color-help: lightYellow;
  
  /* Height of the top toolbar */
  --toolbar-height: 65px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:10;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


.default-dialog-container-class .mat-dialog-container {
    /* add your styles */
    padding: 1px;
    background-color: whitesmoke;
}

.basic-container {
  padding: 30px;
}

span.bold {
	font-weight: bold;
}
