div.attachmentFile {
    margin: 5px;
    display: table-cell;
    vertical-align: middle;
}

button.managerFile {
    width: 25px;
    height: 30px;
    padding: 0px;
    padding: 0px;
    border-style: none;
    align-items : center;
    vertical-align: middle;
}

button.managerFile:hover {
    background-color: var(--color-selected);
    color: white;
    border-color: var(--color-selected);
}

input.fileLabel {
    width: 290px;
    height: 35px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5px;;
}

input.fileLabel:focus {
    border-color: var(--color-selected);
}