.font-awesome-settings {
    font-size: 23px;
}

#panelSettings {
    width: 100%;
}

#panelSonar {
    width: 100%;
}

.contentProjectSonar {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

H2 {
    margin-top: 10%;
    text-align: center;
    color: var(--color-error);
}

div.no-project {
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

div.panelNoSonarProject {
    margin: 50px;
    width: 100%;
    text-align: center;
    color: var(--color-error)
}

div.panelNoSonarProject p {
    font-size: 24px;
    line-height: 80px; 
}

div.panelNoSonarProject p span.logo{
    font-size: 72px;
	background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    margin-right: 30px;
}
