<mat-sidenav-container class="component-container">
    <div *ngIf="(projectService.projectLoaded$|async)" class="contentProjectSonar">
        <div id="panelSonarThumbnails">
            <app-sonar-thumbnails 
                [panelSwitchTransmitter$]="panelSwitchTransmitter$">
            </app-sonar-thumbnails>
        </div>
        <div id="panelSonar" [hidden]="!isPanelActive(SONAR)">
            <app-sonar-dashboard 
                [panelSwitchTransmitter$]="panelSwitchTransmitter$">
            </app-sonar-dashboard>
        </div>
        <div id="panelSettings" [hidden]="!isPanelActive(SETTINGS)">
            <app-sonar-metrics 
                [panelSwitchTransmitter$]="panelSwitchTransmitter$"
                (throwMessage)="catchMessage($event)">
            </app-sonar-metrics>
        </div>
        <div class="panelNoSonarProject" [hidden]="!isPanelActive(NONE)">
            <p>
                <span class="logo align-middle">质</span>
                <span class="align-middle" *ngIf="(projectService.project) && (projectService.project.id > 0)">NO SONAR PROJECT DECLARED FOR '{{projectService.project.name}}'</span>
                <span class="align-middle" *ngIf="(projectService.project) && (projectService.project.id === -1)">YOU NEED TO CREATE A PROJECT FIRST</span>
            </p>
        </div>
    </div>
    <div class="no-project" *ngIf="!(projectService.projectLoaded$|async)">
        <p>
                Your project does not exist yet. You need to save it, first.
        </p>
        <a href="javascript:;" (click)="jumpToTab (-1)">First, Complete the project form.</a>
    </div>
</mat-sidenav-container>