<mat-sidenav-container class="component-container">
    <div class="contentProjectSonar">
        <div id="panelSonarThumbnails">
            <app-sonar-thumbnails 
                [project$]="project$" 
                [panelSwitchTransmitter$]="panelSwitchTransmitter$">
            </app-sonar-thumbnails>
        </div>
        <div id="panelSonar" [hidden]="!isPanelActive(SONAR)">
            <app-sonar-dashboard 
                [project$]="project$"
                [panelSwitchTransmitter$]="panelSwitchTransmitter$">
            </app-sonar-dashboard>
        </div>
        <div id="panelSettings" [hidden]="!isPanelActive(SETTINGS)">
            <app-sonar-metrics 
                [project$]="project$"                 
                [panelSwitchTransmitter$]="panelSwitchTransmitter$">
            </app-sonar-metrics>
        </div>
    </div>
</mat-sidenav-container>