.font-awesome-settings {
    font-size: 23px;
}

#panelSettings {
    width: 100%;
}

#panelSonar {
    width: 100%;
    height: 100px;
}

.contentProjectSonar {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    padding: 0;
    margin: 0;
}