.font-awesome-settings {
    font-size: 23px;
}

#panelSettings {
    width: 100%;
}

#panelSonar {
    width: 100%;
}

#panelNoSonarProject {
    width: 100%;
    text-align: center;
    color: brown;
}

.contentProjectSonar {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    padding: 0;
    margin: 0;
}