<div id="sonarDashboard" *ngIf="(isSonarAccessible && isSonarVersion71x)">
        <div id="liveSonarBadges">
                <div id="headerSonarBadges">
                        <button class="class-sonar-activated"></button><span>Live from Sonar</span>
                </div>
                <div class="badges">
                        <div *ngFor="let badge of safeBadge$|async; index as badgeNumero">
                                <app-sonar-badge [safeBadge]="badge"></app-sonar-badge>
                        </div>
                </div>
        </div>
        <div id="sonarQuotation" style="width: 300px;height: 200px">
                <app-sonar-quotation                 
                        [panelSwitchTransmitter$]="panelSwitchTransmitter$">
                </app-sonar-quotation>
        </div>
</div>
<div *ngIf="(isSonarAccessible && !isSonarVersion71x)">
        Sonar version below 7.1x dashboard
</div>
<div *ngIf="!isSonarAccessible">
        Sonar is not accessible !
</div>