<div id="containerAuditThumbnails">
    <div *ngFor="let topic of (auditTopics$ | async)" class="containerOneThumbnail">
        <app-audit-badge 
            (messengerWeightChange)="onWeightChange($event)"
            (messengerEvaluationChange)="onEvaluationChange($event)"
            (messengerShowHideAuditDetail)="onShowHideAuditDetail($event)"
            [id]="topic.idTopic"
            [weight]="topic.weight"
            [evaluation]=topic.evaluation
            [title]="topic.title" >
        </app-audit-badge>
    </div>
    <div ="let auditDetail of (auditDetails$ | async)" class="containerOneThumbnail">
        <div *ngIf="reportDetailChosen(auditDetail)">
            <app-report-detail-form
                [project$]="project$"
                [title]="legendTopics[auditDetail.idTopic]"
                [idTopic]="auditDetail.idTopic">
            </app-report-detail-form>
        </div>
        <div *ngIf="tasksDetailChosen(auditDetail)">
            <app-files-detail-form
                [project$]="project$"
                [title]="legendTopics[auditDetail.idTopic]"
                [idTopic]="auditDetail.idTopic">
            </app-files-detail-form>
        </div>
    </div>
</div>
