#connectContainer {
	max-width: 700px;
}

div.logo {
	font-size: 80px;
	background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

label.warning-text {
	font-size: 12px;
	width: 100%;
}

span.welcome {
	font-size: 26px;
	font-weight: 500;
}
