<div id="connectContainer" class="container">
	<div class="row">
		<div class="col-12 logo text-center">
			质
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12 text-center">
			<span class="welcome">Welcome to Fitzhì !</span>
		</div>
	</div>

	<div *ngIf="localOnlyOauth$|async;then localOauthOnly else openIdOauth"></div>

	<ng-template #localOauthOnly>
		<div id="localOnly" class="row text-center">
			<div class="col-3"></div>
			<div class="col-6 text-center">
				<app-connect-user-form 
					[directLogin]="directLogin"
					(messengerUserConnected$)="onUserConnected($event)" >
				</app-connect-user-form>
			</div>
			<div class="col-3"></div>
		</div>
	</ng-template>

	<ng-template #openIdOauth>
		<div id="openidOauth" class="row">
			<div class="col-4 text-center">
				<app-alternative-openid-connection></app-alternative-openid-connection>
			</div>
			<div class="col-1"></div>
			<div class="col-6 text-center">
				<app-connect-user-form 
					[directLogin]="directLogin"
					(messengerUserConnected$)="onUserConnected($event)" >
				</app-connect-user-form>
			</div>
			<div class="col-1"></div>
		</div>
	</ng-template>

</div>