.container {
    background-color: transparent;
    margin-top: 100px;
    width: 350px;
}

.container * {
    padding: 2px;
}

button.connection-ok, button.connection-cancel {
    width: 100%;
}

div.connection {
    margin-top: 5px;
    margin-bottom: 5px;
}

span.welcome {
    font-size: 26px;
    font-weight: 500;
}


#logo {
    font-size: 80px;
    background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

label.warning-text {
    font-size: 12px;
    width: 100%;
}
