<table mat-table #table [dataSource]="filenames" class="mat-elevation-z8 tableLegends">

  <ng-container matColumnDef="filename">
    <th id="filename" mat-header-cell *matHeaderCellDef>filename</th>
    <td class="td-filename" mat-cell  *matCellDef="let row">{{row.filename}}</td>
  </ng-container>

  <ng-container matColumnDef="lastCommit" >
    <th id="lastCommit" mat-header-cell *matHeaderCellDef>Last commit</th>
    <td class="td-lastCommit" mat-cell *matCellDef="let row">{{row.lastCommit | date:'mediumDate'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tblColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: tblColumns;" class="row_any"></tr>
</table>
