<div class="main">
  
  <div class="logo" *ngIf="((pieDashboardService.sliceActivated$|async).type === typeSlice.Staff)">
    <em class="fas glyphicon fa-user-graduate logo"></em>
  </div>

  <div *ngIf="((pieDashboardService.sliceActivated$|async).type === typeSlice.Staff)">
    <div *ngIf="(activatedSlice.data !== typeSlice.undefined); else elseBlock">
      <p>
        {{activatedSlice.children.length}} project(s) with a {{ labelLevelOfRisk }} level of Staff.
      </p>
    </div>
    <ng-template #elseBlock>
      <p>
        {{activatedSlice.children.length}} projects have not been analysed by the Fitzhì crawler.<br/>
        <em>Did you setup the Git connection settings for these applications?</em>
      </p>
    </ng-template>
  </div>

  <div class="logo" *ngIf="((pieDashboardService.sliceActivated$|async).type === typeSlice.Sonar)">
    <img src="./assets/img/sonar-grey.png" height="35" width="35" alt="Sonar logo"/>
    <div *ngIf="(activatedSlice.data !== typeSlice.undefined); else elseBlock">
      <p>
        {{activatedSlice.children.length}} project(s) with a {{ labelLevelOfRisk }} level with Sonar.
      </p>
    </div>
    <ng-template #elseBlock>
      <p>
        {{activatedSlice.children.length}} project(s) are not declared on the Sonar server(s).
      </p>
    </ng-template>
  </div>

  <div class="logo" *ngIf="((pieDashboardService.sliceActivated$|async).type === typeSlice.Audit)">
    <em class="fas fa-brain logo"></em>
  </div>

  <div *ngIf="((pieDashboardService.sliceActivated$|async).type === typeSlice.Audit)">
    <div *ngIf="(activatedSlice.data !== typeSlice.undefined); else elseBlock">
      <p>
        {{activatedSlice.children.length}} projects with a {{ labelLevelOfRisk }} level from the technical point of view.
      </p>
    </div>
    <ng-template #elseBlock>
      <p>
        {{activatedSlice.children.length}} project(s) have been appraised by experts.
      </p>
    </ng-template>
  </div>

  <div *ngIf="(activatedSlice.id !== -1)" class="slice">
    <app-pie-chart
      [radius]=200
      [filteredId]=activatedSlice.id
      [active]=false
      [pie]=7>
    </app-pie-chart>
  </div>

</div>