:host >>> th#numberOfCommits > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#active > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue;
}

:host >>> th#external > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue;
}

:host >>> th#numberOfFiles > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#firstCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue
}

:host >>> th#lastCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue 
}

:host >>> th#fullname > .mat-sort-header-container  {
    color: darkblue;
}

table {
    width: 100%;
    height: 100%;
}

#divDeveloppers {
    margin: 20px;
}

.row_any  {
    height: 2em;
}

.row_any:hover {
    height: 2em;
    border: 1px solid gray; 
    color: blue;
    cursor: pointer;
}

.col_numeric, .col_date, .col_image {
    height: 2em;
}

.col_numeric {
    text-align:right;
    height: 2em;
}

.col_date {
    text-align:center;   
}

.col_image {
    text-align:center;   
    margin-top: 15px;
    align-content: center;
}

.contributor_active {
    background-color: white;
}

.contributor_inactive {
    background-color: whitesmoke;
}

.col_fullname {
    padding-left: 10px;
}
