:host >>> th#numberOfCommits > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#active > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue;
}

:host >>> th#external > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue;
}

:host >>> th#numberOfFiles > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#firstCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue
}

:host >>> th#lastCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue
}

:host >>> th#fullname > .mat-sort-header-container  {
    color: darkblue;
}

table {
    width: 100%;
    height: 100%;
}

#divDeveloppers {
    margin: 20px;
}

.col_numeric {
    text-align:right;
}

.col_date {
    text-align:center;   
}

.col_image {
    text-align:center;   
    margin-top: 15px;
    align-content: center;
}

.contributor_active {
    background-color: white;
}

.contributor_inactive {
    background-color: whitesmoke;
}

.col_fullname {
    padding-left: 10px;
}
