<div id="ProjectSonarMetricsDiv">
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 projectSonarMetricsDiv-content" matSort>

        <ng-container matColumnDef="name">
            <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header>Metric</th>
            <td mat-cell *matCellDef="let row">
                {{row.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="selected">
            <th id="selected" mat-header-cell *matHeaderCellDef mat-sort-header>Selected</th>
            <td mat-cell *matCellDef="let row; let i = index;">
                <mat-checkbox id="active-{{i}}" 
                    [(ngModel)]="row.Selected" 
                    (change)="changeSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th id="weight" mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
            <td mat-cell *matCellDef="let row; let i = index;">
                <div *ngIf="isAMetricSelected(row)">
                    <input matInput id="weight-{{i}}" [(ngModel)]="row.weight">
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="editableColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: editableColumns;" class="row_any"></tr>
    </table>
    <mat-paginator class="projectSonarMetricsDiv-content" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>