div.staff-projects-container {
    width: 800px;
    margin: 0 auto;
}

div.staff-projects-container h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.staff-projects-container div.project {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.staff-projects-container div.tableMissions {
    min-width: 700px;
    margin: 10px auto;
}

:host >>> th#name > .mat-sort-header-container  {
    display: flex;
    color: darkblue
}

:host >>> th#numberOfCommits > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#numberOfFiles > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#firstCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue
}

:host >>> th#lastCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue 
}

.col_numeric, .col_date {
    height: 2em;
}

.col_numeric {
    text-align:right;
    height: 2em;
}

.col_date {
    text-align:center;
    width : 120px;
}

.col_name {
    width : 300px;
}