nav.headerTreeMap {
    margin: auto;
    margin-left: 10px;
    width: 580px;
    display: inline-flex;
    align-items: center;
}

div.entry-HeaderTreeMap {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.external-checkbox {
    margin-left: 50px;
}