button.okButton, button.cancelButton {
    background-size: contain;
    background-repeat: no-repeat;    
    width: 90px;
    height: 90px;
    border: none;
    outline: 0;
}

button.cancelButton {
    background-image: url( "./assets/img/cancel.png" );
}

button.cancelButton:hover  {
    background-image: url( "./assets/img/cancel-activated.png" );
}

button.okButtonInvalid, .okButtonValid:hover {
    background-image: url( "./assets/img/ok.png" );
}

button.okButtonValid:hover {
    background-image: url( "./assets/img/ok-valid-hover.png" );
}

button.okButtonValid:active {
    background-image: url( "./assets/img/ok-valid-active.png" );
}

button.okButtonValid  {
    background-image: url( "./assets/img/ok-valid.png" );
}
