#connection {
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
}

.tile {
    background-color: transparent;
    justify-content: left;
    padding: 10px;
    margin: 10px;
}

input {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
}

div.labelConnection {
    display: flex; 
    justify-content: flex-end; 
    padding-right: 10px;
}

label.labelConnection {
    padding-top: 10px;
}

.row {
    padding-bottom: 10px;
}

.required {
	font-weight: 600;
}
.alert {
    width: 100%; 
    font-size: 10px;
}
p.important {
        font-weight: 800;
}

#okButton, #cancelButton {
    background-size: contain;
    background-repeat: no-repeat;    
    width: 90px;
    height: 90px;
    border: none;
    outline: 0;
}

#cancelButton {
    background-image: url( "../../../assets/img/cancel.png" );
}

#cancelButton:hover  {
    background-image: url( "../../../assets/img/cancel-activated.png" );
}

#okButton {
    background-image: url( "../../../assets/img/ok-activated.png" );
}

#okButton:hover  {
    background-image: url( "../../../assets/img/ok-active.png" );
}


