<div id="connection" class="container">
    <div class="col-md-12 text-left" *ngIf="firstConnection">
        <p class="important">This is the very first connection into Wibkac.</p>
        You need first to setup the admin user.
        This user has a complete access to the application features and is allowed to setup user rights.<br/>
        Other admin users are possible.<br/><br/>
    </div>

    <div class="col-md-12">
      <form class="needs-validation" [formGroup]="connectionGroup" (ngSubmit)="onSubmit()">
        
            <div class="row">
                <div class="col-md-5 labelConnection">
                    <label for="username" class="required labelConnection">Username</label>
                </div>
                <div class="col-md-7">
                    <input 
                        type="text" 
                        class="form-control required" 
                        id="user" name="username" 
                        placeholder="Username (Required)" formControlName="username"/>
                    <label *ngIf="username.invalid" [ngClass]="'alert alert-warning'">
                        Username is required, and cannot exceed 8 characters max.
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 labelConnection">
                    <label for="password" class="required labelConnection">Password</label>
                </div>
                <div class="col-md-7">
                    <input type="password" 
                        class="form-control required" 
                        id="password" name="password" 
                        placeholder="Password (Required)" 
                        formControlName="password"/>
                    <label *ngIf="password.invalid" 
                        [ngClass]="'alert alert-warning'">
                        Password is required, and cannot exceed 16 characters max.
                    </label>
                </div>
            </div>
            <div class="row" *ngIf="alterPassword" >
                <div class="col-md-5 labelConnection">
                    <label for="confirmPassword" class="required labelConnection">Confirm the password</label>
                </div>
                <div class="col-md-7">
                    <input type="password" 
                        class="form-control required" 
                        id="confirmPassword" name="confirmPassword" 
                        placeholder="Password (Required)" 
                        formControlName="confirmPassword"/>
                    <label *ngIf="confirmPassword.invalid" 
                        [ngClass]="'alert alert-warning'">
                        Password is required, and cannot exceed 16 characters max.
                    </label>
                </div>
            </div>
            <hr class="col-md-12"/>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg btn-block" type="cancel">Abort</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">{{submitTitle}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
