button.okButton, button.cancelButton {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: 0;
}

button.okButton {
    height: 96px;
    width: 96px;
}

button.cancelButton {
    background-image: url( "../assets/img/cancel.png" );
}

button.cancelButton:hover  {
    background-image: url( "../assets/img/cancel-activated.png" );
}

button.okButtonInvalid, .okButtonValid:hover {
    background-image: url( "../assets/img/ok.png" );
}

button.okButtonValid:hover {
    background-image: url( "../assets/img/ok-valid-hover.png" );
}

button.okButtonValid:active {
    background-image: url( "../assets/img/ok-valid-active.png" );
}

button.okButtonValid  {
    background-image: url( "../assets/img/ok-valid.png" );
}

button.btn-outline-secondary {
    background-color: white;
}
  
button.btn-outline-success {
    background-color: var(--color-selected);
    color: white;
}