<div class="headerTreeMap">
	<nav class="navbar navbar-light bg-light">
		<mat-checkbox (change)="onChangeExternal()" class="external-checkbox" 
			[checked]="treeMapService.treemapFilter.external">
			External
		</mat-checkbox>
		<div class="p-1 d-flex">
			<div>
				<app-tagify-stars 
					[whitelist]="whitelist" 
					[blacklist]="blacklist"
					[placeholder]="''"
					[colorON]="'#28a745'"
					[colorOFF]="'white'"
					[originalValues]="originalValues"
					[additionalValues$]="additionalValues$"
					[values$]="values$"
					[editableState$]="editableState$"
					(addTagEvent)="onAddTagEvent($event)"
					(editTagEvent)="onEditTagEvent($event)"
					(removeTagEvent)="onRemoveTagEvent($event)"
					style="width:300px;height:50px">
				</app-tagify-stars>
			</div>
			<button type="button" 
				class="btn rounded ml-2" 
				[ngClass]="{'btn-outline-success' : displayData, 'btn-outline-secondary': !displayData}" 
				(click)="click()">...</button>	
			<button id="btHelp"
				type="button"
				class="btn ml-2"
				[ngClass]="{'btn-outline-success' : displayHelp, 'btn-outline-secondary': !displayHelp}" 
				(click)="help()">?</button>	
		</div>
		<!--
		-->
	</nav>
</div>
