
div.headerTreeMap {
    margin: auto;
    align-items: center;
    height: var(--filterTreemapSkillsPane-height);
}


div.entry-HeaderTreeMap {
    margin-right: 5px;
}

.external-checkbox {
    margin-left: 5%;
}