div.container-staff-remove {
    width: fit-content;
    margin: 50px auto;
} 

div.staff-remove {
    background-color: transparent;
    display:inline-grid;
} 

div.text-staff-remove {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
} 

div.text-staff-remove P {
    margin-top: 30px;
} 

div.action-staff-remove {
    padding: 10px;
    grid-column-start: 4;
    grid-column-end: 4;
    display:table-cell;
    vertical-align:middle; 
    height: fit-content;
}

div.action-staff-remove button {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    padding: 0;
}

div.action-staff-remove button:hover {
	color: white;
    background-color: var(--color-success);
}

div.action-staff-remove em {
    font-size: 70px;
}
