
front-skiller/package-lock.json

back-skiller/target

back-skiller/.classpath

back-skiller/.project

back-skiller/.settings


back-skiller/staff.json

back-skiller/src/test/resources/effectifISC.csv

back-skiller/src/test/resources/opennlp/in/~$_201709.doc

back-skiller/upload-dir/Formulaire.pdf

back-skiller/upload-dir/ET_201709.doc

back-skiller/src/test/resources/poc_git/properties.json

back-skiller/src/test/resources/poc_git/properties-VEGEO.json

back-skiller/src/test/resources/poc_git/properties-SKILLER.json

back-skiller/git-scan.csv
