<form>
  <h2 mat-dialog-title>Application file selection</h2>
  <mat-dialog-content>
    <p class="description">
      <br/> The list below contains the list of unregistered contributors for this project.
      <br/> These login need to be registered in order to completely evaluate the risk.
    </p>
    <app-project-ghosts [dataSource]="dataSource"></app-project-ghosts>
    <mat-dialog-actions align="center">
      <button mat-button class="actions" mat-dialog-close>Cancel</button>
      <button class="actions" type="submit" (click)="submit()">Ok</button>
    </mat-dialog-actions>
  </mat-dialog-content>

</form>


