.mat-dialog-title {
	color: antiquewhite;
	background-color: #343a40 !important;
	text-align: center;
	width: 100%;
	font-size: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;	
	margin: 0px;
}

.mat-dialog-content {
	margin: 1em;
}

.mat-dialog-actions {
	margin-bottom: 0px; 
}

button.actions {
	padding: 1em;
	margin-right: 1em;
	border-radius: 4px;	
}

:host>>>th#pseudo>.mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
}

:host>>>th#login>.mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
}

:host>>>th#technical>.mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
}

.tableGhosts {
  width: 100%;
}

.td-ghost {
  height: 2em;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}

.row_any  {
    height: 2em;
}

p.description {
    font-size: 80%;
}
