.mat-header-cell {
    color: darkblue;
    justify-content: left;
    padding-left: 0;
}

:host >>> th#fullname  > .mat-header-cell  {
    display: flex;
    padding-left: 0;

}

td.mat-cell, th.mat-header-cell {
    padding-left: 5px;
    padding-right: 5px;
}

th.mat-header-cell {
    background-color: whitesmoke;
}

tr.row_any  {
    height: 2em;
}

#contributors {
    position: relative;
    float:right;
    width: 100%;
}

.contributor_active {
    background-color: white;
}

.contributor_inactive {
    background-color: whitesmoke;
}
