<div class="container-project-form">
	<div class="container">
		<div class="globalBadge" *ngIf="referentialService.referentialLoaded$ | async">
			<app-techxhi-medal 
				[colorOfRisk]="colorOfRisk"
				(tabActivationEmitter)="tabActivation($event)">
			</app-techxhi-medal>
		</div>
		<div class="projectForm">
			<form class="needs-validation" [formGroup]="profileProject" (ngSubmit)="onSubmit()">
				<div>
					<label class="required labelProject" for="project">Project</label>
					<input type="text" class="form-control required" id="projectName" name="projectName" 
						[readonly]="!projectService.project.active"
						placeholder="Project name (Required)" value="" required formControlName="projectName" />
				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------

														SKILLS UPDATE

				------------------------------------------------------------------------------------------------------------------------- -->
				<div class="skills">
					<div class="icon-and-label-skills" style="padding-left: 5px; padding-top: 5px">
						<img src="./assets/img/skill-black.png" alt="Skills" style="width: 35px; height: 35px"/>
					</div>
					<div class="textarea-skills">
						<div style="margin-left: 5px">
							<label class="labelSkills" for="skills">Skills involved</label>
							<textarea name="skills" placeholder="Type your skills" [readonly]="!projectService.project.active"></textarea>
						</div>
					</div>
				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------

														QUALITY TOOL SONAR OR CODEFACTOR.IO

				------------------------------------------------------------------------------------------------------------------------- -->
				<div class="qualitySolution" *ngIf="projectService.project.active">
					<mat-button-toggle-group 
						#group="matButtonToggleGroup" 
						name="code_quality_solution"
						(change)="onQualitySolutionChange(group.value)"
						style="padding:3px;">
						<mat-button-toggle value="{{SONAR}}"><img src="./assets/img/sonar.png" alt="Sonar" class="logoTabLabel"/></mat-button-toggle>
						<mat-button-toggle value="{{CODEFACTOR}}"><img src="./assets/img/codeFactor.io.png" alt="codeFactor.io" class="logoTabLabel"/></mat-button-toggle>
					</mat-button-toggle-group>
				</div>

				<div class="sonarSolution" [hidden]="((code_quality_solution$|async) === 2)">
					<div class="field sonar">
						<label for="urlSonarServer" >Sonar server</label> 
						<select name="label" id="urlSonarServer" (change)="onUrlSonarServerChange($event)"
								formControlName="urlSonarServer" class="custom-select d-block w-100">
							<option></option>
							<option *ngFor="let sonarServer of referentialService.sonarServers$|async">{{sonarServer.urlSonarServer}}</option>
						</select>
					</div>

					<div class="field" [hidden]="!sonarProjectsLoaded || creation">
						<div class="col-12 insideField">
							<label for="sonarProjects">Sonar projects</label>
							<textarea id="sonarProjects" name="sonarProjects"
								[readonly]="!projectService.project.active"
								placeholder="Type a Sonar project associated to this project">
							</textarea>
						</div>
					</div>

					<div class="row field" *ngIf="projectService.projectLoaded$|async" 
							[hidden]="sonarProjectsLoaded || creation || !projectService.project.urlSonarServer">
						<div class="col-12 insideField">
							<p class="error">Cannot reach the Sonar server on the URL {{projectService.project.urlSonarServer}}.</p>
						</div>
					</div>
				</div>


				<div class="codeFactorSolution" [hidden]="((code_quality_solution$|async) === 1)">
					<div class="row field codeFactor">
						CODE FACTOR PANEL
					</div>
				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------

																	CONNECTION SETTINGS

				------------------------------------------------------------------------------------------------------------------------- -->
				<div class="buttons_toggle" *ngIf="projectService.project.active">
					<button>
						<em class="fab fa-github-alt"></em>
					</button>
					<mat-button-toggle-group #group="matButtonToggleGroup" name="connection_settings"
						[value]="connection_settings" (change)="onConnectionSettingsChange(group.value)">
						<mat-button-toggle class="button_toggle" value="1">User/Password</mat-button-toggle>
						<mat-button-toggle class="button_toggle" value="2">Remote File</mat-button-toggle>
						<mat-button-toggle class="button_toggle" value="3">Public</mat-button-toggle>
					</mat-button-toggle-group>
				</div>

				<div class="connection-panel" *ngIf="noUserPasswordAccess()">
					<div class="col-12 connection_settings">
						No User/Password settings : <br />
						<div class="explanation_access">
							You just need to fill the repository URL. 
							No authentication information is required inside Fitzhì.  
							<ul>
								<li>Either your repository is public (from the backend host)</li>
								<li>Or a public/private key pair has been setup with your GIT repository</li>
							</ul>
						</div>
						<div class="d-flex  align-items-center flex-row">
							<label for="urlRepository">Repository&nbsp;&nbsp;</label>
							<input type="text" class="form-control" id="urlRepository" name="urlRepository"
								[readonly]="!projectService.project.active"
								placeholder="Repository URL" value="" formControlName="urlRepository" />
						</div>
						<br/>
					</div>
				</div>

				<div class="connection-panel" *ngIf="userPasswordAccess()">
					<div class="col-12 connection_settings">
						Direct User/Password settings : <br />
						<div class="explanation_access">
							You can update the version control url and the couple of user/password required for
							connection.<br />
							Be Aware that all these informations will be updated on the record of this project, and later on
							the file system.
						</div>
						<div class="d-flex  align-items-center flex-row">
							<label for="urlRepository">Repository&nbsp;&nbsp;</label>
							<input type="text" class="form-control" id="urlRepository" name="urlRepository"
								[readonly]="!projectService.project.active"
								placeholder="Repository URL" value="" formControlName="urlRepository" />
						</div>

						<div class="user-password col-9">
							<div class="d-flex align-items-center flex-row lab_and_row_user_password">
								<div class="col-3">
									<label for="user" class="label-user-password">Username : </label>
								</div>
								<div class="col-6">
									<input type="text" class="form-control" id="username" name="username" placeholder="Username"
										[readonly]="!projectService.project.active"
										value="" formControlName="username" />
								</div>
							</div>

							<div class="d-flex align-items-center flex-row lab_and_row_user_password">
								<div class="col-3">
									<label for="urlRepository" class="label-user-password">Password : </label>
								</div>
								<div class="col-6">
									<input type="password" class="form-control" id="password" name="password"
										[readonly]="!projectService.project.active"
										placeholder="Password" value="" autocomplete="off" formControlName="password" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="connection-panel" *ngIf="remoteFileAccess()">
					<div class="connection_settings col-12">
						Indirect settings : <br />
						<div class="explanation_access">
							You can avoid to store the <u>highly critical</u> user/password couple of your version control
							system on every <strong>Project</strong> record.<br/>
							<em>Even if all password will be encrypted.</em>.<br/>
							You can store these settings into a file located on the remote server<br/>
							This file has to be installed in the directory customized behind the global setting
							<code>versionControl.ConnectionSettings</code>.<br />
							Each of those files must contain 2 properties : <br />
							- a <code>user</code> property <br />
							- a <code>password</code> property<br />
						</div>
						<div class="d-flex  align-items-center flex-row lab_and_row_repository">
							<label for="urlRepository">Repository&nbsp;:&nbsp;</label>
							<input type="text" class="form-control" id="urlRepository" name="urlRepository"
								[readonly]="!projectService.project.active"
								placeholder="Repository URL" value="" formControlName="urlRepository" />
						</div>

						<div class="d-flex  align-items-center flex-row lab_and_row_repository">
							<label>File&nbsp;name&nbsp;:&nbsp;</label>
							<input type="text" class="form-control" id="filename" name="filename" placeholder="Remote filename"
								[readonly]="!projectService.project.active"
								value="" formControlName="filename" />
						</div>
					</div>
				</div>

				<div class="row col-md-12">
					<div class="col-md-9"></div>
					<div class="col-md-3">
						<hr />
					</div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-9"></div>
					<div class="col-md-3">
						<button id="buttonOk" [ngClass]="classOkButton()" 
							[disabled]="!profileProject.valid || !projectService.project.active" type="submit">
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>