<div id="projectDiv">
	<div id="projectForm" class="container">
		<form class="needs-validation" [formGroup]="profileProject" (ngSubmit)="onSubmit()">
			<div class="row">
				<div *ngIf="referentialService.referentialLoaded$ | async" class="col-2 globalBadge">
					<app-techxhi-medal 
						[colorOfRisk]="colorOfRisk"
						(tabActivationEmitter)="tabActivation($event)">
					</app-techxhi-medal>
				</div>
				<div class="col-10 fields_host">
					<div class="container">
						<div class="row field">
							<label class="required labelProject" for="project">Project information</label>
							<input type="text" class="form-control required" id="projectName" name="projectName"
								placeholder="Project name (Required)" value="" required formControlName="projectName" />
						</div>

						<div class="row field">
							<div class="col-12 insideField">
								<label class="labelSkills" for="skills">Skills involved</label>
								<textarea id="skills" name="skills" placeholder="Type your skills"></textarea>
							</div>
						</div>

						<div class="row field">
							<label for="urlSonarServer" >Sonar server</label> 
							<select name="label" id="urlSonarServer" (change)="onUrlSonarServerChange($event)"
								formControlName="urlSonarServer" class="custom-select d-block w-100">
								<option></option>
								<option *ngFor="let sonarServer of referentialService.sonarServers$|async">{{sonarServer.urlSonarServer}}</option>
							</select> 
						</div>
			
						<div class="row field" [hidden]="!sonarProjectsLoaded || creation">
							<div class="col-12 insideField">
								<label class="labelSkills" for="sonarProjects">Sonar projects</label>
								<textarea id="sonarProjects" name="sonarProjects"
									placeholder="Type a Sonar project associated to this project">
								</textarea>
							</div>
						</div>
						<div class="row field" 
								*ngIf="projectService.projectLoaded$|async" 
								[hidden]="sonarProjectsLoaded || creation || !projectService.project.urlSonarServer">
							<div class="col-12 insideField">
								<p class="error">Cannot reach the Sonar server on the URL {{projectService.project.urlSonarServer}}.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-1"></div>
				<div class="col-11" class="buttons_toggle">
					<label for="connection_settings">&nbsp;Version control connection settings : &nbsp;&nbsp;</label>
					<mat-button-toggle-group #group="matButtonToggleGroup" name="connection_settings"
						[value]="connection_settings" (change)="onConnectionSettingsChange(group.value)"
						style="padding:0.1em;">
						<mat-button-toggle value="1">User/Password</mat-button-toggle>
						<mat-button-toggle value="2">Remote File</mat-button-toggle>
						<mat-button-toggle value="3">Public</mat-button-toggle>
					</mat-button-toggle-group>
				</div>
			</div>

			<div class="row" *ngIf="noUserPasswordAccess()">
				<div class="col-1"></div>
				<div class="col-11 connection_settings">
					No User/Password settings : <br />
					<div class="explanation_access">
						You just need to fill the repository URL. 
						No authentication information is required inside Fitzhì.  
						<ul>
							<li>Either your repository is public (from the backend host)</li>
							<li>Or a public/private key pair has been setup with your GIT repository</li>
						</ul>
					</div>
					<div class="d-flex  align-items-center flex-row">
						<label for="urlRepository">Repository&nbsp;&nbsp;</label>
						<input type="text" class="form-control" id="urlRepository" name="urlRepository"
							placeholder="Repository URL" value="" formControlName="urlRepository" />
					</div>
					<br/>
				</div>
			</div>

			<div class="row" *ngIf="userPasswordAccess()">
				<div class="col-1"></div>
				<div class="col-11 connection_settings">
					Direct User/Password settings : <br />
					<div class="explanation_access">
						You can update the version control url and the couple of user/password required for
						connection.<br />
						Be Aware that all these informations will be updated on the record of this project, and later on
						the file system.
					</div>
					<div class="d-flex  align-items-center flex-row">
						<label for="urlRepository">Repository&nbsp;&nbsp;</label>
						<input type="text" class="form-control" id="urlRepository" name="urlRepository"
							placeholder="Repository URL" value="" formControlName="urlRepository" />
					</div>

					<div class="user-password col-9">
						<div class="d-flex align-items-center flex-row lab_and_row_user_password">
							<div class="col-3">
								<label for="user" class="label-user-password">Username : </label>
							</div>
							<div class="col-6">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username"
									value="" formControlName="username" />
							</div>
						</div>

						<div class="d-flex align-items-center flex-row lab_and_row_user_password">
							<div class="col-3">
								<label for="urlRepository" class="label-user-password">Password : </label>
							</div>
							<div class="col-6">
								<input type="password" class="form-control" id="password" name="password"
									placeholder="Password" value="" autocomplete="off" formControlName="password" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="remoteFileAccess()">
				<div class="col-1"></div>
				<div class="connection_settings col-11">
					Indirect settings : <br />
					<div class="explanation_access">
						You can avoid to store the <u>highly critical</u> user/password couple of your version control
						system on each <strong>Project</strong> record, by setting the filename of a property file
						installed on the remote server <i>Even if the password will be encrypted.</i>.<br />
						This file has to be installed in the directory customized behind the global setting
						<code>versionControl.ConnectionSettings</code>.<br />
						Each of those files must contain 2 properties : <br />
						- a <code>user</code> property <br />
						- a <code>password</code> property<br />
					</div>
					<div class="d-flex  align-items-center flex-row lab_and_row_repository">
						<label for="urlRepository">Repository&nbsp;:&nbsp;</label>
						<input type="text" class="form-control" id="urlRepository" name="urlRepository"
							placeholder="Repository URL" value="" formControlName="urlRepository" />
					</div>

					<div class="d-flex  align-items-center flex-row lab_and_row_repository">
						<label>File&nbsp;name&nbsp;:&nbsp;</label>
						<input type="text" class="form-control" id="filename" name="filename" placeholder="Remote filename"
							value="" formControlName="filename" />
					</div>
				</div>
			</div>

			<div class="row col-md-12">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					<hr />
				</div>
			</div>
			<div class="row col-md-12">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					<button [ngClass]="classOkButton()" [disabled]="!profileProject.valid" type="submit"></button>
				</div>
			</div>
		</form>
	</div>
</div>