<div id="host-treemap" *ngIf="projectService.allProjectsIsLoaded$|async">
	<app-treemap-skills-header (messengerDisplayHelp)="displayHelp($event)"></app-treemap-skills-header>
	<div class="content-skills">
		<div class="treemap-skills">
			<div class="w-100 p-3 bg-light mt-2 description" *ngIf="treemapSkillsService.displaySettings$|async">
				Data based explanation of this chart will be provided here soon !
			</div>
			<app-treemap-skills-chart></app-treemap-skills-chart>
		</div>
		<div class="legend" *ngIf="(treemapSkillsService.displaySettings$|async)">
			<div class="internal d-flex justify-content-center">
				<div class="d-flex flex-column">
					<div class="high sign">+</div>
					<div class="gradient"></div>
					<div class="low sign">-</div>
				</div>
			</div>
		</div>
	</div>
	<div id="help" class="container-help" *ngIf="(helpPaneVisible)">
		<div class="help">
			<div style="display: inline-flex; padding: 5px;">
				<em class="fas fa-info info"></em>
				<span style="padding: 5px;">
					This chart represents all skills in proportion to their weight in the registered portfolio.
					Each tile is filled with a color corresponding to the "staffing" risk on its underlying skills.
				</span>
			</div>
			<ul>
				<li class="good">A "skill" tile with this color has enough developers to maintain its related projects.</li>
				<li class="bad">On the contrary, this color proves a lack of developers.</li>
			</ul>
		</div>
	</div>
</div>