<table>
    <tr>
        <td>
            <table height="500px">
                <tr><td bgcolor="darkGreen" style="width:100px;height:9%" align="center">Risk 0</td></tr>
                <tr><td bgcolor="ForestGreen" style="width:100px;height:9%" align="center">Risk 1</td></tr>
                <tr><td bgcolor="limeGreen" style="width:100px;height:9%" align="center">Risk 2</td></tr>
                <tr><td bgcolor="Lime" style="width:100px;height:9%" align="center">Risk 3</td></tr>
                <tr><td bgcolor="lightGreen" style="width:100px;height:9%" align="center">Risk 4</td></tr>
                <tr><td bgcolor="yellow" style="width:100px;height:9%" align="center">Risk 5</td></tr>
                <tr><td bgcolor="orange" style="width:100px;height:9%" align="center">Risk 6</td></tr>
                <tr><td bgcolor="darkOrange" style="width:100px;height:9%" align="center">Risk 7</td></tr>
                <tr><td bgcolor="lightCoral" style="width:100px;height:9%" align="center">Risk 8</td></tr>
                <tr><td bgcolor="crimson" style="width:100px;height:9%" align="center">Risk 9</td></tr>
                <tr><td bgcolor="darkRed" style="width:100px;height:9%" align="center">Risk 10</td></tr>
            </table>
        </td>
        <td>
            <div id="chart"></div>
        </td>
    </tr>
</table>
