<div align="center" [hidden]="!sunburst_ready">
    <table height="100%">
        <tr>
            <td>
                <table height="90%">
                    <tr><td bgcolor="darkGreen" style="width:100px" align="center">Risk 0</td></tr>
                    <tr><td bgcolor="ForestGreen" style="width:100px" align="center">Risk 1</td></tr>
                    <tr><td bgcolor="limeGreen" style="width:100px" align="center">Risk 2</td></tr>
                    <tr><td bgcolor="Lime" style="width:100px" align="center">Risk 3</td></tr>
                    <tr><td bgcolor="lightGreen" style="width:100px" align="center">Risk 4</td></tr>
                    <tr><td bgcolor="yellow" style="width:100px" align="center">Risk 5</td></tr>
                    <tr><td bgcolor="orange" style="width:100px" align="center">Risk 6</td></tr>
                    <tr><td bgcolor="darkOrange" style="width:100px" align="center">Risk 7</td></tr>
                    <tr><td bgcolor="lightCoral" style="width:100px" align="center">Risk 8</td></tr>
                    <tr><td bgcolor="crimson" style="width:100px" align="center">Risk 9</td></tr>
                    <tr><td bgcolor="darkRed" style="width:100px" align="center">Risk 10</td></tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div id="chart"></div>
            </td>
        </tr>
    </table>
</div>

<div class="row" [hidden]="sunburst_ready">
    <br/><br/>
    <div class="col-md-12 text-center w100">
        <h2>Sunburst chart</h2>
        <p class="lead">The chart is beeing prepared, please wait !</p>
        <img [src]="sunburstWaitingImage" width="128px" height="128px"/>
    </div>
</div>

