.sunburst-tooltip {
  z-index: 500;
}

.sunburst-progress-bar {
	display: flex;
  	align-content: center;
  	align-items: center;
  	height: 6Opx;
}

.text-progress-bar {
	margin-left: 10px;
}

.component-container {
  height: 100%;
}

#chart {
  margin-left: 10em;
}

mat-sidenav-container {
  min-height: 300px;
}

mat-sidenav {
  width: 50px;
}

mat-sidenav-content {
  margin-left: 50px;
}

#settings, #reset, #unknown, #legend {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-bottom: 5px;
}

.font-awesome-settings {
	font-size: 23px;
}

.inactive {
  background-color: transparent;
}

.round {
  border-radius: 25%;
}

.rules-of-risks {
  position: fixed;
  top: 10em;
  left: 2.5em;
}

.panelUnknows {
  position: fixed;
  top: 5em;
  left: 2em;
  width: 500px;
  height: 200px;
}

#titleSunburst {
  position: relative;
  top: 0.1em;
  left: 2.6em;
  font-size: 20px;
}

button.btn-outline-success {
    background-color: #28a745;
    color: white;
}


