<div id="containerDashboard">
    <div *ngFor="let sonarProject of project.sonarProjects; index as index" 
        (click)="switchSonarContext(NONE, sonarProject.key)"
        [ngClass]="classForSonarProjectSummary(sonarProject.key)">
        <div class="sonarNotation"></div>
        <div class="insideSonarProjectSummary">
            <mat-grid-list cols="6" rowHeight="50px" style="width:100%; height:100%">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button id="settings" data-toggle="tooltip" data-placement="right"
                        title="Settings up the sonar scoreboard" 
                        class="btn btn-outline-secondary rounded" 
                        [ngClass]="{
                                'btn-outline-success' : isPanelActive(SETTINGS, sonarProject.key), 
                                'btn-outline-secondary': !isPanelActive(SETTINGS,  sonarProject.key)}"
                        [disabled]="isPanelActive(SETTINGS,  sonarProject.key)" 
                        (click)="switchSonarContext(SETTINGS, sonarProject.key)">
                        <i class="fas fa-sliders-h font-awesome-settings"></i>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button id="sonar" data-toggle="tooltip" data-placement="right" title="Display the Sonar dashboard"
                        class="btn btn-outline-secondary rounded class-sonar-inactivated" 
                        [ngClass]="{    'btn-outline-success class-sonar-activated' : isPanelActive(SONAR, sonarProject.key), 
                                        'btn-outline-secondary class-sonar-inactivated': !isPanelActive(SONAR, sonarProject.key)}"
                        [disabled]="isPanelActive(SONAR,  sonarProject.key)" 
                        (click)="switchSonarContext(SONAR, sonarProject.key)">
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    {{sonarProject.name}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <app-quotation-badge
                        [index]= "'-' + sonarProject.key + index"
                        [thumbnail]=true
                        [title]="'Evalutation'" 
                        [evaluation]="evaluations.get(sonarProject.key)"
                        [weight]="100">
                    </app-quotation-badge>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="2">
                    <table>
                        <tr *ngFor="let languageCount of languageFilesNumber.get(sonarProject.key)">
                            <td class="table-counting language">{{labelOfLanguage(languageCount.language)}}</td>
                            <td class="table-counting fileNumber">{{languageCount.numberOfFiles}}</td>
                        </tr>
                    </table>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>