<table mat-table #table  [dataSource]="contributors" class="mat-elevation-z8 tableLegends">

  <ng-container matColumnDef="fullname">
    <th id="fullname" mat-header-cell *matHeaderCellDef>Fullname</th>
    <td class="col_date {{class_active_inactive(contributor.active)}}" mat-cell *matCellDef="let contributor">{{contributor.fullname}}</td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th id="active" mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell class="col_image {{class_active_inactive(contributor.active)}}" *matCellDef="let contributor">
      <img with="15" height="15" src="/assets/img/check-{{contributor.active}}.png" />
    </td>
  </ng-container>

  <ng-container matColumnDef="external">
    <th id="external" mat-header-cell *matHeaderCellDef>External</th>
    <td mat-cell class="col_image {{class_active_inactive(contributor.active)}}" *matCellDef="let contributor">
      <img with="15" height="15" src="/assets/img/check-{{contributor.external}}.png" />
    </td>
  </ng-container>

  <ng-container matColumnDef="lastCommit">
    <th mat-header-cell id="lastCommit" class="col_date" *matHeaderCellDef> Last commit </th>
    <td mat-cell class="col_date {{class_active_inactive(contributor.active)}}" *matCellDef="let contributor">
      {{contributor.lastCommit | date:'mediumDate'}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="tblColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: tblColumns;" class="row_any"></tr>
</table>
