<div id="connection" class="container">

	<div class="col-md-12 text-left" [hidden]="!veryFirstConnection">
		<p class="important">This is the very first connection in fitzhì.</p>
		<p>You need first to setup the admin user.</p>
		This user has a complete access to the application features and is allowed to setup user rights.<br/>
		Other admin users are possible.<br/><br/>
	</div>

	<div class="row text-left" style="padding-bottom:0px" [hidden]="veryFirstConnection">
		<p>
			It seams like this is your <strong>FIRST</strong> connection into fitzhì.
		</p>
	</div>
	<div class="row text-left" [hidden]="veryFirstConnection">
		<div class="col-md-1"></div>
		<div class="col-md-11 text-left">
			<em>					
				- Either the system allows you to create your own user,<br/>
				- or a login already exists, and you just have to type your password.<br/>
			</em>
		</div>
	</div>
	<div id="div-connect" class="row text-left" [hidden]="veryFirstConnection">
		<div class="col-md-2"></div>
		<div class="col-md-8 skip text-right">
			<span class="bold">BUT</span>, if you have already been registered for this aplication,<br/>AND you already know your user/password,<br/>just skip this operation and sign in to Fitzhì.
		</div>
		<div class="col-md-2">
			<button id="btn-connect" class="btn btn-outline-primary rounded" (click)="skip()">
				connect
			</button>			
		</div>
	</div>
	<br/>
	<div *ngIf="localOnly$|async;then localOauthOnly else multipleOauth"></div>
	<ng-template #localOauthOnly>
		<div id="localOauthOnly" class="row">
			<div class="col-4"></div>
			<div class="col-8">
				<app-register-user-form
					(messengerUserRegistered$)="onRegisterUser($event)" >
				</app-register-user-form>
			</div>
		</div>
	</ng-template>
	<ng-template #multipleOauth>
		<div id="multipleOauth" class="row">
			<div class="col-5 m-10">
				<app-alternative-openid-connection></app-alternative-openid-connection>
			</div>
			<div class="col-7">
				<app-register-user-form
					(messengerUserRegistered$)="onRegisterUser($event)" >
				</app-register-user-form>
			</div>
		</div>
	</ng-template>
</div>
