<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-projects">
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef [ngStyle]= "{'background-color': colorHeader}">
          <div *ngIf="(pieDashboardService.sliceActivated$|async).id === typeSlice.Staff">
            Staff
          </div>
          <div *ngIf="(pieDashboardService.sliceActivated$|async).id === typeSlice.Sonar">
            Sonar
          </div>
          <div *ngIf="(pieDashboardService.sliceActivated$|async).id === typeSlice.Audit">
            Audit
          </div>
          <div *ngIf="(pieDashboardService.sliceActivated$|async).id === typeSlice.None">
            None
          </div>
      </th>
      <td mat-cell *matCellDef="let project" class="row-pie-projects"> {{project.name}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>