
<div class="py-5 text-center">
	<h2>Developer Form</h2>
	<p class="lead">Please, fill the personnel informations of this new
		fellow and skill collaborator.</p>
</div>

<div class="container" style="width: 100%;">
	<div class="d-flex flex-row-reverse">
		<div class="p-2" style="width: 30%;">
			<div class="skill_card">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Qualification</span> <span
						class="badge badge-secondary badge-pill">{{sourceExperience.count()}}</span>
				</h4>
				<ng2-smart-table [settings]="settings_experience"
					[source]="sourceExperience"
					(createConfirm)="onConfirmAddStaffSkill($event)"
					(editConfirm)="onConfirmEditStaffSkill($event)"
					(deleteConfirm)="onConfirmRemoveSkill($event)"> </ng2-smart-table>
			</div>
			<br />
			<div class="projects_card">
				<h4 class="d-flex justify-content-between align-items-center">
					<span class="text-muted">Projects card</span> <span
						class="badge badge-secondary badge-pill">{{sourceProjects.count()}}</span>
				</h4>
				<ng2-smart-table [settings]="settings_projects"
					[source]="sourceProjects"
					(createConfirm)="onConfirmCreateFromProject($event)"
					(editConfirm)="onConfirmEditFromProject($event)"
					(deleteConfirm)="onConfirmRemoveFromProject($event)">
				</ng2-smart-table>
			</div>
		</div>
		<div class="p-2" style="width: 70%; margin-right: 40px">
			<h4 class="mb-3">Personal information</h4>
			<form class="needs-validation" [formGroup]="profileStaff"
				(ngSubmit)="onSubmit()">
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="firstName">First name</label> <input type="text"
							class="form-control" id="firstName" name="firstName"
							[readonly]="!collaborator.isActive"
							placeholder="" value="" required formControlName="firstName">
					</div>
					<div class="col-md-6 mb-3">
						<label for="lastName">Last name</label> <input type="text"
							class="form-control" id="lastName" name="lastName" 
							[readonly]="!collaborator.isActive"
							placeholder="enter the last name" value="" required
							formControlName="lastName">
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="nickName">Nickname</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">@</span>
							</div>
							<input type="text" class="form-control" id="nickName"
								name="nickName" 
								[readonly]="!collaborator.isActive"
								placeholder="Enter the nickname (if any) for this staff member"
								value="" required formControlName="nickName">
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="login">Last name</label> <input type="text"
							class="form-control" id="login" name="login" 
							[readonly]="!collaborator.isActive"
							placeholder="enter the network login of this staff member"
							value="" required formControlName="login">
					</div>
				</div>

				<div class="mb-3">
					<label for="email">Email <span class="text-muted">(Optional)</span></label>
					<input type="email" class="form-control" id="email" name="email"
						[readonly]="!collaborator.isActive"
						placeholder="you@example.com" required formControlName="email">
				</div>

				<div class="mb-3">
					<label for="level">Level</label> <select name="label" id="level"
						formControlName="level" class="custom-select d-block w-100"
						required>
						<option value="0" selected="selected">select a level</option>
						<option *ngFor="let level of levels" [value]="level.code">{{level.title}}</option>
					</select>
				</div>

				<div class="mb-3">
					<label class="checkbox-inline"> <input type="checkbox"
						name="active" formControlName="active"> {{label_isActive}} {{label_dateInactive | date : 'longDate'}}
					</label>
				</div>

				<hr class="mb-4">
				<button class="btn btn-primary btn-lg btn-block" type="submit" 
						[disabled]="!profileStaff.valid && !">Submit</button>
			</form>
		</div>
	</div>
</div>