<div class="py-5 text-center">
	<h2>Developer Form</h2>
	<p class="lead">Please, fill the personnel informations of this new
		fellow and skill collaborator.</p>
</div>

<div class="container" style="width: 100%;">
	<div class="d-flex flex-row-reverse">
		<div class="p-2">
			<app-staff-tabs></app-staff-tabs>
		</div>
		<div class="p-2" style="width: 70%; margin-right: 40px">
			<app-staff-form [idStaff]="idStaff"></app-staff-form>
		</div>
	</div>
</div>

<div class="container" style="width: 100%;">
	<div class="d-flex flex-row-reverse">
		<div class="p-2" style="width: 30%;">
			<div class="skill_card">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Qualification</span> <span
						class="badge badge-secondary badge-pill">{{sourceExperience.count()}}</span>
				</h4>
				<ng2-smart-table #EXP [settings]="settings_experience"
					[source]="sourceExperience"
					(createConfirm)="onConfirmAddStaffSkill($event)"
					(editConfirm)="onConfirmEditStaffSkill($event)"
					(deleteConfirm)="onConfirmRemoveSkill($event)"> </ng2-smart-table>
			</div>
			<br />
			<div class="projects_card">
				<h4 class="d-flex justify-content-between align-items-center">
					<span class="text-muted">Projects card</span> <span
						class="badge badge-secondary badge-pill">{{sourceProjects.count()}}</span>
				</h4>
				<ng2-smart-table [settings]="settings_projects"
					[source]="sourceProjects"
					(createConfirm)="onConfirmCreateFromProject($event)"
					(editConfirm)="onConfirmEditFromProject($event)"
					(deleteConfirm)="onConfirmRemoveFromProject($event)">
				</ng2-smart-table>
			</div>
		</div>
	</div>
</div>