
<div class="py-5 text-center">
	<h2>Developer Form</h2>
	<p class="lead">Please, fill the personnel informations of this new
		fellow and skill collaborator.</p>
</div>

<div class="container" style="width: 100%;">
	<div class="d-flex flex-row-reverse">
		<div class="p-2" style="width: 30%;">
			<div class="skill_card">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Skills card</span> <span
						class="badge badge-secondary badge-pill">{{sourceExperience.count()}}</span>
				</h4>
				<ng2-smart-table 
					[settings]="settings_experience" 
					[source]="sourceExperience"
 					(createConfirm)="onConfirmAddStaffSkill($event)"
 					(editConfirm)="onConfirmEditStaffSkill($event)"
 					(deleteConfirm)="onConfirmRemoveSkill($event)">
					</ng2-smart-table>
			</div>
			<br/>
			<div class="projects_card">
				<h4 class="d-flex justify-content-between align-items-center">
					<span class="text-muted">Projects card</span> <span
						class="badge badge-secondary badge-pill">{{sourceProjects.count()}}</span>
				</h4>
 				<ng2-smart-table 
 					[settings]="settings_projects" 
 					[source]="sourceProjects"
 					(createConfirm)="onConfirmCreateFromProject($event)"
 					(editConfirm)="onConfirmEditFromProject($event)"
 					(deleteConfirm)="onConfirmRemoveFromProject($event)">
 				</ng2-smart-table> 
			</div>
		</div>
		<div class="p-2" style="width: 70%; margin-right: 40px">
			<h4 class="mb-3">Personal information</h4>
			<form class="needs-validation" novalidate>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="firstName">First name</label> <input type="text"
							class="form-control" id="firstName" name="firstName"
							placeholder="" value="" required
							[(ngModel)]="collaborator.firstName ">
						<div class="invalid-feedback">Valid first name is required.
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="lastName">Last name</label> <input type="text"
							class="form-control" id="lastName" name="lastName" placeholder=""
							value="" required [(ngModel)]="collaborator.lastName">
						<div class="invalid-feedback">Valid last name is required.</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="nickName">Nickname</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">@</span>
						</div>
						<input type="text" class="form-control" id="nickName"
							name="nickName" placeholder="nickName" required
							[(ngModel)]="collaborator.nickName">
						<div class="invalid-feedback" style="width: 100%;">Your
							nickName is required.</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="email">Email <span class="text-muted">(Optional)</span></label>
					<input type="email" class="form-control" id="email" name="email"
						placeholder="you@example.com" required
						[(ngModel)]="collaborator.email">
					<div class="invalid-feedback">Please enter a valid email
						address for shipping updates.</div>
				</div>

				<div class="mb-3">
					<label for="level">Level</label> <select name="label" id="level"
						[(ngModel)]="collaborator.level"
						class="custom-select d-block w-100" required>
						<option value="0" selected="selected">select a level</option>
						<option *ngFor="let level of levels" [value]="level.code">{{level.title}}</option>
					</select>
					<div class="invalid-feedback">Please select a valid level.</div>
				</div>
				<hr class="mb-4">
				<button class="btn btn-primary btn-lg btn-block" type="submit"
					(click)="save()">Validate</button>
			</form>
		</div>
	</div>
</div>