<div class="projects_card">
	<h4 class="d-flex justify-content-between align-items-center">
		<span class="text-muted">Projects card</span> <span
			class="badge badge-secondary badge-pill">{{sourceProjects.count()}}</span>
	</h4>
	
	<ng2-smart-table [settings]="settings_projects"
		[source]="sourceProjects"
		(createConfirm)="onConfirmCreateFromProject($event)"
		(editConfirm)="onConfirmEditFromProject($event)"
		(deleteConfirm)="onConfirmRemoveFromProject($event)">
	</ng2-smart-table>
	 
</div>
