<h2 mat-dialog-title>Application file selection</h2>
<mat-dialog-content>
<p>Please, select the application file to upload, for "first name"", "last name".<br/>
Only format <b>DOC</b>, <b>DOCX</b> and <b>PDF</b> are supported.</p>
<form class="needs-validation">
	<label for="file" class="label-file">Select the file to upload...</label>
	<input id="file" name="file" class="input-file" type="file" [(ngModel)]="applicationFile" />
	{{applicationFile}}
	<br/>
	<mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress | async"></mat-progress-bar>
</form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button class="actions" mat-dialog-close>Cancel</button>
  <button mat-button class="actions" [mat-dialog-close]="true">  Ok  </button>
</mat-dialog-actions>
