#remove:hover {
    background-color: lightGrey;
}

:host ::ng-deep .mat-tab-header {
    position: fixed !important;
    height: 50px;
    z-index: 1000;
}

/* active tab */
:host ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    background-color: lightgrey;
}

