<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="select($event)">

  <mat-tab *ngFor="let tab of tabs; let index = index">
    <ng-template mat-tab-label>
      {{tabs[index]}} &nbsp;
      <div class="remove">
        <img src="/assets/img/delete-sign.png" alt="delete sign" width="12" height="12" (click)="remove(index)" />
      </div>
    </ng-template>
    <app-staff-list [criteria]="criteria(index)" [activeOnly]="activeOnly(index)"></app-staff-list>
  </mat-tab>
</mat-tab-group>


