.tblLibraries {
		  width: 575px;
}

.actionButton {
	height: 25px;
	width: 25px;
	margin-bottom: 10px;
	padding: 0;
	border: none;
    outline: none;
}

.actionButton:focus, .actionButton:active {
   outline: none !important;
   box-shadow: none;
}

.actionRemove  {
	color: brown;
	margin-top: 10px;
}

.actionRemove:hover  {
	color: var(--color-error);
	background-color: whitesmoke;
}

.actionAdd  {
	color: black;
	margin-top: 25px;
}

.actionAdd:hover  {
	color: var(--color-success);
	background-color: whitesmoke;
}

#pathDependencyHeader, #typeDependencyHeader {
	color: darkblue;
	margin-top: 0px;
}

#pathDependencyHeader {
	width: 500px;
}

#typeDependencyHeader {
	width: 50px;
}

.typeDependency {
	text-align:center;
}

.pathDependency:hover {
	color: blue;
}