<table mat-table #table 
  [dataSource]="dataSource" 
    class="tblLibraries mat-elevation-z8 "
    summary="The list of libraries present or detected in the project">

   <ng-container matColumnDef="path">
      <th id="pathDependencyHeader" mat-header-cell *matHeaderCellDef> Full path for the dependency </th>
      <td class="pathDependency"  mat-cell (click)="editDependency(dependency)"  *matCellDef="let dependency" >
          {{dependency.exclusionDirectory}}
      </td>
    </ng-container>

	<ng-container matColumnDef="type">
      <th id="typeDependencyHeader" mat-header-cell *matHeaderCellDef> Detected </th>
      <td class="typeDependency" *matCellDef="let dependency">
          <em *ngIf="dependency.type===1" class="far fa-check-square"></em>
          <em *ngIf="dependency.type===2" class="far fa-square"></em>
      </td>
    </ng-container>

  <ng-container matColumnDef="actionsColumn">
    <mat-header-cell *matHeaderCellDef>
      <button class="actionAdd actionButton btn btn-outline-secondary rounded" (click)="dataSource.createNew()"><em class="fa fa-plus mat-icon"></em></button>
    </mat-header-cell>
    <mat-cell *matCellDef="let dependency">
	  <button 
		  class="actionRemove actionButton btn btn-outline-secondary rounded" 
		  focusable="false" (click)="removeDependency(dependency)">
            <em class="fa fa-times mat-icon"></em>
          </button>
    </mat-cell>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="td-ghost" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
