<div class="container pb-3">

	<form class="needs-validation" [formGroup]="connectionGroup">
		<div class="row">
			<div class="col-5 labelConnection">
				<label for="username" class="required float-right labelConnection">Username :</label>
			</div>
			<div class="col-7">
				<input type="text" class="form-control required" id="user" name="username"
					placeholder="Username (Required)" formControlName="username" />
				<label *ngIf="username.touched && username.invalid" class="alert alert-warning warning-text">
					Username is required and cannot exceed 16 chars max.
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-5 labelConnection">
				<label for="password" class="required float-right labelConnection">Password :</label>
			</div>
			<div class="col-7">
				<input type="password" class="form-control required" id="password" name="password"
					placeholder="Password (Required)" formControlName="password" />
				<label *ngIf="password.touched && password.invalid" ngClass="alert alert-warning warning-text">
					Password is required<br/>
					and is between 8 and 16 chars max
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-6"></div>
			<div class="col-3">
				<button id="cancelButton" class="btn btn-outline-secondary rounded connection-cancel" type="reset" alt="cancel this operation"
					(click)="onCancel()">Cancel</button>
			</div>
			<div class="col-3">
				<button 
					id="okButton"
					class="btn btn-outline-secondary rounded connection-ok" 
					(click)="onSubmit()" 
					[disabled]="connectionGroup.invalid">Sign in</button>
			</div>
		</div>
	</form>

</div>