div {
    --pie-height: 500px;
    --pie-width: var(--pie-height);
    --pie-diameter: 500px;
}

.mainDashboard {
    width: 100%;
    height: 600px;
}

div.actualDashboard {
    width: 400px;
    height: 400px;
}

div.formerDashboard {
    width: 150px;
    height: 150px;
}

P.text {
    font-size: 18px;
    margin: 0;
}