div {
    --pie-height: 500px;
    --pie-width: var(--pie-height);
    --pie-diameter: 500px;
}

.mainDashboard {
    margin-left: 10px;
    width: 100%;
    height: 600px;
}

div.actualDashboard {
    width: 400px;
    height: 400px;
}

div.formerDashboard {
    width: 150px;
    height: 150px;
}

div.camera {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 20px;
}

.camera {
    color: lightgrey;
}

i.camera {
    font-size: 60px;
}

p.camera {
    font-size: 22px;
    text-align: center;
}
.pie-projects {
    width: 100%;
    height: 100%;
}