<!--
<div class="pie-container">
    <div class="pieBackground"></div>
    <div *ngFor="let slice of (slices$|async); index as idSlice">
        <div id="pieSlice_{{idSlice}}" class="hold">
            <div id="slice_pie_{{idSlice}}" class="pie"></div>
        </div>
    </div>
</div>
-->

<div class="pieContainer">
    <div class="pieBackground"></div>
    <div *ngFor="let slice of (slices$|async); index as idSlice">
        <div id="pieSlice{{idSlice}}" class="hold">
            <div class="pie"></div>
        </div>
    </div>
</div>