.required {
	font-weight: 600;
}

div.connection_settings {
	border-width:0,1em;
 	border-style:solid;
	border-color:lightgrey;
	padding: 1em;
}

div.buttons_toggle {
	padding: 1em;
}

.lab_and_row_repository {
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 1em;
}

.lab_and_row_user_password {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.5em;
	padding-left: 1em;
}

div.explanation_access {
	font-size: 0.7em;
	color: grey;
	margin-left: 6em;
	margin-bottom: 2em;
}

.required {
	font-weight: 600;
}

.container {
	margin: 0px;
	padding-left: 0px;
	text-align: left;
	max-width: 800px;
}

div.fields_host {
	margin-left: 0px;
	padding: 0;
}

#projectForm {
	padding: 0px;
}

.okButton {
    height: 96px;
    width: 96px;
}

div.field {
	margin-left: 5px;
}

.labelProject {
	font-size: 24px;;
	margin-top: 2px;
	margin-bottom: 2px;
}

.labelSkills {
	font-size: 15px;;
	margin-bottom: 2px;
}

#skills {
	width: 100%;
}

p.error {
	color: brown;
	font-weight: 500;
	padding: 10px 10px 10px 20px; /* top right bottom left */
}

div.insideField {
	padding-left: 0px; 
	padding-top: 5px;
}

div.globalBadge {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}