<div class="container" style="width: 100%;">
	<div class="row">
		<div class="col-md-12 text-center w100">
			<h2>Project Form</h2>
			<p class="lead">Adding a new project in the repository.</p>
		</div>

		<div class="col-md-8" style="width: 65%;">
			<form class="needs-validation" [formGroup]="profileProject"
				(ngSubmit)="onSubmit()">
				<div class="mb-3">
					<label class="required" for="project">Project</label> <input type="text"
						class="form-control required" id="projectName" name="projectName"
						placeholder="Project name (Required)" value="" required
						formControlName="projectName" />
				</div>
				<div class="buttons_toggle">
					<label for="connection_settings">Version control connection settings : &nbsp;&nbsp;</label>
					<mat-button-toggle-group #group="matButtonToggleGroup" name="connection_settings" 
					[value]="connection_settings" 
					 (change)="onConnectionSettingsChange(group.value)"
					 style="padding:0.1em;">
						<mat-button-toggle value="1">Direct User/Password</mat-button-toggle>
						<mat-button-toggle value="2">Using a remote File</mat-button-toggle>
					</mat-button-toggle-group>
				</div>
				<div class="connection_settings mb-3" [hidden]="undirectAccess()">
					Direct settings : <br/>
					<div class="explanation_access">
						You can update the version control url and the couple of user/password required for connection.<br/>
						Be Aware that all these informations will be updated on the record of this project, and later on the file system. 
					</div>
					<div class="d-flex  align-items-center flex-row lab_and_row_repository">
						<label for="urlRepository1">Repository&nbsp;&nbsp;</label> 
						<input type="text"
							class="form-control" id="urlRepository1" name="urlRepository1"
							placeholder="Repository URL" value="" 
							formControlName="urlRepository1" />
					</div>

					<div class="d-flex align-items-center flex-row lab_and_row_user_password">
						<label for="user">Username&nbsp;:&nbsp;</label> 
						<input type="text"
							class="form-control" id="username" name="username"
							placeholder="Username" value="" 
							formControlName="username" />
					</div>

					<div class="d-flex align-items-center flex-row lab_and_row_user_password">
						<label for="urlRepository">Password&nbsp;:&nbsp;</label> 
						<input type="password"
							class="form-control" id="password" name="password"
							placeholder="Repository URL" value="" 
							formControlName="password" />
					</div>
				</div>

				<div class="connection_settings mb-3" [hidden]="directAccess()"> 
					Indirect settings : <br/>
					<div class="explanation_access">
You can avoid to store the <u>highly critical</u> user/password couple of your version control system on each <strong>Project</strong> record, by setting the filename of a property file installed on the remote server.<br/>
This file has to be installed in the directory customized behind the global setting <code>versionControl.ConnectionSettings</code>.<br/>
Each of those files must contain 2 properties : <br/>
- a <code>user</code> property <br/>
- a <code>password</code> property<br/>
					</div>
					<div class="d-flex  align-items-center flex-row lab_and_row_repository">
						<label for="urlRepository2">Repository&nbsp;:&nbsp;</label> 
						<input type="text"
							class="form-control" id="urlRepository2" name="urlRepository2"
							placeholder="Repository URL" value="" 
							formControlName="urlRepository2" />
					</div>

					<div class="d-flex  align-items-center flex-row lab_and_row_repository">
						<label>File&nbsp;name&nbsp;:&nbsp;</label>
						<input type="text"
							class="form-control" id="filename" name="filename"
							placeholder="Remote filename" value="" 
							formControlName="filename" />
					</div>
				</div>
				
				<hr class="mb-4"/>
				
				<button class="btn btn-primary btn-lg btn-block" type="submit"
					[disabled]="!profileProject.valid">Submit</button>
			</form>
		</div>

		<div class="col-md-4" style="width: 35%;">
			<h4 class="d-flex justify-content-between align-items-center">
				<span class="text-muted">skills card</span> <span
					class="badge badge-secondary badge-pill">{{sourceSkills.count()}}</span>
			</h4>
			<ng2-smart-table [settings]="settings_skills" [source]="sourceSkills"
				(createConfirm)="onConfirmAddSkillToProject($event)"
				(editConfirm)="onConfirmEditSkillIntoProject($event)"
				(deleteConfirm)="onConfirmRemoveSkillFromProject($event)">
			</ng2-smart-table>
		</div>
	</div>
</div>
