<div class="container" style="width: 100%;">
	<div class="row">
		<div class="col-md-12 text-center w100">
			<h2>Project Form</h2>
			<p class="lead">Adding a new project in the repository.</p>
		</div>

		<div class="col-md-8" style="width: 65%;">
			<form class="needs-validation" [formGroup]="profileProject"
				(ngSubmit)="onSubmit()">
				<div class="mb-3">
					<label class="required" for="project">Project</label> <input type="text"
						class="form-control required" id="projectName" name="projectName"
						placeholder="Project name (Required)" value="" required
						formControlName="projectName" />
				</div>
				<div class="mb-3">
					<label for="urlRepository">Repository</label> <input type="text"
						class="form-control" id="urlRepository" name="urlRepository"
						placeholder="Repository URL" value="" 
						formControlName="urlRepository" />
				</div>
				<hr class="mb-4">
				<button class="btn btn-primary btn-lg btn-block" type="submit"
					[disabled]="!profileProject.valid">Submit</button>
			</form>
		</div>

		<div class="col-md-4" style="width: 35%;">
			<h4 class="d-flex justify-content-between align-items-center">
				<span class="text-muted">skills card</span> <span
					class="badge badge-secondary badge-pill">{{sourceSkills.count()}}</span>
			</h4>
			<ng2-smart-table [settings]="settings_skills" [source]="sourceSkills"
				(createConfirm)="onConfirmAddSkillToProject($event)"
				(editConfirm)="onConfirmEditSkillIntoProject($event)"
				(deleteConfirm)="onConfirmRemoveSkillFromProject($event)">
			</ng2-smart-table>
		</div>
	</div>
</div>
