div.container {
    width: 700px;
}

div.host {
    display: inline-flex;
}

div.legend {
    width: 50px;
    background: transparent;
    margin-bottom: 10px;
    display: inline-flex;
}

div.gradient {
    background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
    margin-top: 75px;
    margin-left: 5px;
    width: 10px;
    height: 380px;
}

div.high {
    margin-left: 5px;
    margin-top: 65px;
}

div.low {
    margin-left: 5px;
    margin-top: 360px;
}

div.help {
    background-color: var(--color-help);
    border: 1px solid black;
    min-height: 100px;
    width:100%;
    border-radius: 5px;
}