#image_upLoadCV {
	width: 50px;
	height: 50px;
}

#upLoadCV {
    display: flex;
    border-radius: 25%;
    text-decoration: none;
    display: inline-block;
}

#upLoadCV:hover {
    background-color: lightGrey;
}

