<div class="skill_card">
	<h4 class="d-flex justify-content-between align-items-center mb-3">
		<div>
			<a href="#"	id="upLoadCV" (click)="upload()">
				<img id="image_upLoadCV" 
					alt="upload the application" 
					title="Upload the application file"
					[src]="image_upLoadCV"/>
			</a>		
			<a href="#"	id="downloadCV" (click)="download()">
				<img id="image_downloadCV" 
					alt="download the application" 
					title="Download the application file"
					[src]="image_downloadCV"/>
			</a>
		</div>
		<div>		
			<span class="text-muted">Skills&nbsp;</span>
			<span class="badge badge-secondary badge-pill">{{sourceExperience.count()}}</span>
		</div>
	</h4>
	<ng2-smart-table #EXP [settings]="settings_experience"
		[source]="sourceExperience"
		(createConfirm)="onConfirmAddStaffSkill($event)"
		(editConfirm)="onConfirmEditStaffSkill($event)"
		(deleteConfirm)="onConfirmRemoveSkill($event)"> 
	</ng2-smart-table>
</div>
