<div class="myToolbar bg-light">
    <nav class="navbar navbar-light form-inline">


        <div class="btn-group form-inline buttons header_navigation_master_detail" [hidden]="!isInMasterDetail()">

            <button 
                class="btn btn-outline-secondary rounded" 
                (click)="list()">
                <i class="fas glyphicon fa-list-alt"></i>
            </button>

            <button 
                [routerLink]="['/user', previousId]"
                class="btn btn-outline-secondary rounded" 
                [disabled]="(previousId === undefined)">
                <i class="fas glyphicon fa-caret-left"></i>
            </button>

            <button 
                [routerLink]="['/user', nextId]"
                class="btn btn-outline-secondary rounded" 
                [disabled]="(nextId === undefined)">
                <i class="fas glyphicon fa-caret-right"></i>
            </button>

 		</div>

        <!--
        
            Buttons of entity selection.
            On what are we working ? Staff, Skill, Project
        
        -->
        <div class="btn-group form-inline buttons" role="group" aria-label="Toolbar with button groups">
            <button 
                class="btn rounded" 
                [routerLink]="['/user']"
                [ngClass]="{'btn-outline-success' : isStaffActive(), 'btn-outline-secondary': !isStaffActive()}" 
                (click)="switchToStaff()">
                <i class="fas glyphicon fa-user-graduate"></i> Staff
            </button>
            <button 
                class="btn rounded" 
                [routerLink]="['/project']"
                [ngClass]="{'btn-outline-success' : isProjectActive(), 'btn-outline-secondary': !isProjectActive()}"
                (click)="mode(PROJECT_TAB_FORM)">
                <i class="fas glyphicon fa-users-cog"></i> Project
            </button>
            <button 
                class="btn rounded" 
                [routerLink]="['/skill']"
                [ngClass]="{'btn-outline-success' : isSkillActive(), 'btn-outline-secondary': !isSkillActive()}"
                (click)="mode(SKILLS_CRUD)">
                <i class="fas glyphicon fa-graduation-cap"></i> Skill
            </button>
        </div>

        <!--

            Block in charge of the search-criteria

        -->
        <div class="btn-group form-inline buttonsnope">
            <button 
                class="btn rounded btn-outline-success" 
                [disabled]="nothingActive()"
                [hidden]="!activeOnly"
                (click)="switchActiveOnly()">
                <i class="far glyphicon fa-check-square"></i> Active
            </button>
            <button 
                class="btn rounded btn-outline-secondary" 
                [disabled]="nothingActive()"
                [hidden]="activeOnly"
                (click)="switchActiveOnly()">
                <i class="far glyphicon fa-square"></i> All
            </button>
            <div class="inner-addon left-addon">
                <i class="fas glyphicon" 
                    [ngClass]="{'fa-user-graduate' : isStaffActive(), 'fa-graduation-cap' : isSkillActive(), 'fa-users-cog' : isProjectActive()}"></i>
                <input 
                    [(ngModel)]="criteria"
                    [disabled]="nothingActive()"
                    type="search" 
                    class="form-control rounded" 
                    placeholder="Search..." 
                    (focus)="searching()"
                    (keydown.enter)="query()" />
                <button type="submit" 
                    [disabled]="nothingActive()"
                    class="btn btn-outline btn-outline-secondary rounded search" 
                    (click)="query()" >
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <button 
                class="btn rounded" 
                [routerLink]="['/welcome']"
                (click)="switchToDashboard()"
                [ngClass]="{'btn-outline-success' : isDashboardActive(), 'btn-outline-secondary': !isDashboardActive()}" >
                <i class="fas fa-tachometer-alt"></i>
            </button>
        </div>
    </nav>
</div>