.mat-header-cell {
    color: darkblue;
    padding-left: 5px;
    font-size: large;
}

.tableCategories {
    width: 100%;
}

.td-select {
    text-align:center;
}

.row-involved {
    background-color: lightgray;
    border-spacing: 2 2px;
}

.row-ignored {
    background-color: white;
    border-spacing: 2 2px;
}
