<div id="containerSVG">
    <svg class="pie" viewBox="0 0 400 400">
        <defs>
            <marker id="arrow" refX="8" refY="5" viewBox="0 0 10 10"
                markerUnits="strokeWidth" markerWidth="8" markerHeight="6"
                fill="lightGrey" orient="auto-start-reverse">
                <path d="M 0 0 L 10 5 L 0 10 z"  fill="context-stroke"/>
            </marker>
            <marker id="arrowActive" refX="8" refY="5" viewBox="0 0 10 10"
                markerUnits="strokeWidth" markerWidth="8" markerHeight="6"
                fill="context-stroke" orient="auto-start-reverse">
                <path d="M 0 0 L 10 5 L 0 10 z"  fill="context-stroke"/>
            </marker>
        </defs>

        <svg *ngIf="active">
            <g *ngFor="let slice of (pieDashboardService.slices$ | async); index as idSlice" class="slice-active" id="pieSlice-{{pie}}-{{idSlice}}">
            </g>
        </svg>
        <svg *ngIf="!active">
            <g *ngFor="let slice of (pieDashboardService.slices$ | async); index as idSlice" class="slice-inactive" id="pieSlice-{{pie}}-{{idSlice}}">
            </g>
        </svg>


        <!-- Legends around the pie. -->
        <g *ngIf="active">
            <path id="arcSonar" stroke="lightGrey"  fill="none" stroke-width="1" d="M 203 30 A175,175 0 0,1 350,280" 
                marker-start="url(#arrow)" marker-end="url(#arrow)"></path>
            <text id="textSonar" dy="-5" class="text" >
                <textPath alignment-baseline="top" text-anchor="middle" startOffset="50%" xlink:href="#arcSonar">
                    Sonar 
                </textPath>
            </text>

            <path id="arcStaff" stroke="lightGrey" fill="none" stroke-width="1" d="M 50 280 A175,175 0 0,1 197,30" 
                marker-start="url(#arrow)" marker-end="url(#arrow)"></path>
            <text id="textStaff" dy="-5" class="text"  >
                <textPath text-anchor="middle" startOffset="50%" xlink:href="#arcStaff">
                    Staff 
                </textPath>
            </text>

            <path id="arcAudit" stroke="lightGrey" fill="none" stroke-width="1" d="M 52 285 A175,175 0 0,0 350,285" 
                marker-start="url(#arrow)" marker-end="url(#arrow)"></path>
            <text id="textAudit" dy="20" class="text">
                <textPath text-anchor="middle" startOffset="50%" xlink:href="#arcAudit">
                    Audit
                </textPath>
            </text>
        </g>
    </svg>
</div>
