<div class="auditTasksForm">
    <div id="header-tasks-{{idTopic}}" class="header">
        <div class="logoHeader"><i class="{{fontAwesome}}" style="font-size: 22px;"></i></div>
        <div class="title">{{title}}</div>
    </div>
    <div class="attachmentFiles">
        <div *ngFor="let attachmentFile of (auditAttachmentService.attachmentFile$ | async);index as idFile">
            <app-audit-attachment 
                [idTopic]="idTopic"
                [attachmentFile]="attachmentFile"
                [id]=idFile 
                [project$]="project$" >
            </app-audit-attachment>
        </div>
</div>