<div class="auditTasksForm">
    <div id="header-tasks-{{idTopic}}" class="header">
        <div class="logoHeader"><i class="{{fontAwesome}}" style="font-size: 22px;"></i></div>
        <div class="title">{{title}}</div>
    </div>
    <div class="attachmentFiles">
        <app-audit-attachment-upload 
            [idTopic]="idTopic"
            id=0 
            [project$]="project$" 
            class="attachmentFile">
        </app-audit-attachment-upload>

        <app-audit-attachment-upload 
            [idTopic]="idTopic"
            id=1 
            [project$]="project$" 
            class="attachmentFile">
        </app-audit-attachment-upload>
        
        <app-audit-attachment-upload 
            [idTopic]="idTopic"
            id=2 
            [project$]="project$" 
            class="attachmentFile">
        </app-audit-attachment-upload>

        <app-audit-attachment-upload 
            [idTopic]="idTopic"
            id=3 
            [project$]="project$" 
            class="attachmentFile">
        </app-audit-attachment-upload>
       
    </div>
</div>