<div class="attachmentFile">
    
    <button *ngIf="modeUpload"
        class="btn btn-outline-secondary  managerFile"
        (click)="uploadFile(id)">
            <em class="fas glyphicon fa-file-upload" style="font-size: 26px"></em>
    </button>

    <button *ngIf="!modeUpload"
        class="btn btn-outline-secondary managerFile"
        (click)="deleteFile()">
            <em class="fas fa-trash" style="font-size: 26px"></em>
    </button>

    <button *ngIf="!modeUpload"
        class="btn btn-outline-secondary managerFile"
        mdbTooltip="Download the attached document related to this audit" placement="bottom"
        (click)="downloadFile()"
        [disabled]="isDisable(id)">
        <em [ngClass]="classFile()" style="font-size: 26px"></em>
    </button>

    <input type="text" id="comment-{{idTopic}}-{{id}}" class="fileLabel" 
        matInput placeholder="Type file label" 
        [(ngModel)]="label" (blur)="notifyLabelChange(id)"/>

</div>
