<div id="ProjectSonarMetricsDiv" *ngIf="isSonarAccessible">
   <table mat-table #table 
        [dataSource]="dataSource" 
        class="mat-elevation-z8 projectSonarMetricsDiv-content" matSort
        aria-label="List of metrics available on Sonar">
        
        <ng-container matColumnDef="name">
            <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header>Metric</th>
            <td mat-cell class="metric" *matCellDef="let row">
                {{row.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="selected">
            <th id="selected" mat-header-cell *matHeaderCellDef mat-sort-header>Selected</th>
            <td mat-cell class="metric" *matCellDef="let row; let i = index;">
                <mat-checkbox id="active-{{i}}" 
                    [(ngModel)]="row.selected" 
                    (change)="changeSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th id="weight" mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
            <td mat-cell class="metric" *matCellDef="let row; let i = index;">
                <div *ngIf="isAMetricSelected(row)">
                    <input 
                        class="number-field"
                        matInput id="weight-{{i}}" 
                        type="number" 
                        [ngClass]="cssClassOfWeight(row)"
                        [(ngModel)]="row.weight"
                        (change)="changeWeight(row)">
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th id="weight" mat-header-cell *matHeaderCellDef mat-sort-header>Evaluation</th>
            <td mat-cell class="metric" *matCellDef="let row; let i = index;">
                <div class="number-field metricValue" *ngIf="isAMetricSelected(row)"> 
                    {{row.value}} 
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="explanation">
            <th id="explanation" mat-header-cell *matHeaderCellDef>Explanation</th>
            <td mat-cell class="metric" *matCellDef="let row; let i = index;">
                <div class="explanation"><pre class="explanation">{{row.explanation}}</pre></div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="editableColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: editableColumns;" class="row_any"></tr>
    </table>
    <!-- 
        class="projectSonarMetricsDiv-content"   
    -->
    <mat-paginator 
        #paginator
        [pageSize]="5" 
        [pageSizeOptions]="[5, 10, 20]" 
        showFirstLastButtons>
    </mat-paginator>
</div>

<div *ngIf="!isSonarAccessible">
    Sonar is not accessible !
</div>