#ProjectSonarMetricsDiv {
    width: 100%;
}

.projectSonarMetricsDiv-content {
    width: 100%;
}

#explanation {
    min-width: 500px;
}

#name {
    min-width: 200px;
}

div.explanation {
    min-width: 500px;
    width: 90%;
    vertical-align: middle;
    display: table-cell;
}

pre.explanation {
    margin: 3px;
}

.number-field {
    text-align: right;
}

.metricValue {
    margin-right: 20px;
}

.valid-field {
    color: black;
}

.invalid-field {
    color: var(--color-error);
}