<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-projects">
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef [ngStyle]= "{'background-color': colorHeader}"> Name </th>
      <td mat-cell *matCellDef="let project" class="row-pie-projects"> {{project.name}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>