
<form [formGroup]="backendSetupForm" (ngSubmit)="onSubmit()">
    <div id="backendSetup" class="col-md-8">
        <mat-grid-list cols="5"  rowHeight="40px">

            <mat-grid-tile i [colspan]="4" [rowspan]="6"  >
                Welcome !<br/><br/>
                We have detected that this is your first execution of Wibkac for this desktop.<br/>
                This application requires a back-end server installed somewhere on your network.<br/>
                Please ask your administrator for the location, and edit the URL below. 
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="6" class="tile">
                <button id="submitButton" 
                    [ngClass]="classButton()"
                    type="submit">
                </button>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="5" [rowspan]="1" class="tile">
                <label id="url" for="url" class="required">URL</label>
                <input type="text" 
                        class="form-control required" 
                        id="url" 
                        name="url" 
                        placeholder="Back-end server url" 
                        width="100%"
                        (keyup)="urlInEdition()"
                        formControlName="url"/>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</form>