<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.fitzhi.source.crawler.git" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

<!-- Parking for my logging. 

	<logger name="com.fitzhi.source.crawler.git" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.controller.ProjectController" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.bean.impl.GitCrawlerLoadBranchesTest" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.source.crawler.git.GitCrawler" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.FitzhiWebMvcConfigurer" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.controller" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.source.crawler.impl.AbstractScannerDataGenerator" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.bean.impl.ProjectHandlerImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.source.crawler.git" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.security" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.data.internal.ProjectBuilding" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.fitzhi.bean.impl.SkylineProcessorImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

 	<logger name="com.fitzhi.bean.impl.SkylineProcessorGenerateProjectBuildingTest" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

 	<logger name="com.fitzhi.bean.impl.SkylineProcessorImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

 	<logger name="com.fitzhi.bean.impl.SkylineProcessorImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
-->

</configuration>