<div id="auditTaskForm" *ngIf="topic$ | async">
    <div class="header">{{topic.title}}</div>
    <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="profileAuditTask" >
        <div class="containerEvaluation">
            <mat-form-field>
                <mat-label>Evaluation</mat-label>
                <input id="evaluation" name="evaluation" formControlName="evaluation" 
                    (input)="onChange('evaluation')"
                    type="number" matInput />
                <span matSuffix></span>
            </mat-form-field>
        </div>
        <div class="containerWeight">
            <div class="formfieldWeight">
                <mat-form-field style="width:100%;margin-left:10px">
                    <mat-label>Weight</mat-label>
                    <input id="weight" name="weight" formControlName="weight" 
                        (change)="onChange('weight')"
                        (input)="onChange('weight')"
                        type="number" matInput />
                    <span matSuffix></span>
                </mat-form-field>
            </div>
            <div class="sliderWeight" >
                <mat-slider min="1" max="100" step="1" 
                    [value]='weight'
                    (input)="onChangeWeight($event)"></mat-slider>
            </div>
        </div>
        <label *ngIf="weight.touched && weight.invalid" [ngClass]="'alert alert-warning'"
            style="width: 100%; font-size: 10px;"> 
            Weight is a percentage lower than 100.
        </label>
        <p>
            <mat-form-field appearance="outline" class="comment">
                <mat-label>Audit topic</mat-label>
                <textarea id="comment" name="comment" formControlName="comment" 
                class="comment" matInput placeholder=
                "Type here a technical appreciation regarding the '{{topic.title}}' and assign it a weight"></textarea>
                <mat-hint>2000 caracters max</mat-hint>

            </mat-form-field>
        </p>

    </form>
</div>