div.toolbar {
    margin:0;
}

nav.toolbar {
    min-height: var(--toolbar-height);
    height: var(--toolbar-height);
}

div.buttons button, div {
    margin: 2px;  
}

button.btn-outline-success {
    background-color: var(--color-selected);
    color: white;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 30px; }

button.search {
    margin-left: 2px;
    margin-right: 5px;
}

button.search:active {
    background-color: var(--color-selected);
    color: white;
}

input.search {
    size: 20;
}