div.container-project-inactivate-or-reactivate {
    width: fit-content;
    margin: 50px auto;
}

div.project-inactivate, div.project-reactivate {
    background-color: transparent;
    display:inline-grid;
} 

div.container-project-form {
	width: 1000px;
	margin: 0 auto;
}


div.text-project {
    margin: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
} 

div.project-reactivate div.text-project {
    font-size: larger;
} 

div.action-project {
    padding: 10px;
    grid-column-start: 4;
    grid-column-end: 4;
    display:table-cell;
    vertical-align:middle; 
    height: fit-content;
}

div.action-project button {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    padding: 0;
}

div.action-project button:hover {
	color: white;
    background-color: var(--color-success);
}

div.action-project em {
    font-size: 80px;
}


