
<div class="container" style="padding: 5px">
    <div class="row bg-light text-dark" style="border-style: solid; border-width: 1px; color: black; border-radius: 10px; font-size: x-large" >
        <div class="col-4">Name</div>
        <div class="col-2">Levels</div>
        <div class="col-4">Main skills</div>        
    </div>
    <div *ngFor="let collaborater of collaboraters" class="row" style="font-size: large">
        <div class="col-4">{{collaborater.firstName}} {{collaborater.lastName}}</div>
        <div class="col-2">{{collaborater.level}}</div>
        <div class="col-4">No too much</div>        
    </div>
</div>
