<mat-horizontal-stepper [linear]="true" #stepper id="setup">

  <mat-step [completed]="completed[0]">
    <ng-template matStepLabel>Register the server</ng-template>
    <app-backend-setup (messengerVeryFirstLocated)="setVeryFirstConnection($event)"></app-backend-setup>
  </mat-step>

  <mat-step [completed]="completed[1]">
    <ng-template matStepLabel>Initialize admin user</ng-template>
    <app-register-user (messengerUserRegistered)="setRegisteredUser($event)" [alterPassword]="true" [veryFirstConnection]="veryFirstConnection"></app-register-user>
  </mat-step>

  <mat-step [completed]="completed[2]">
    <ng-template matStepLabel>Update this new user</ng-template>
    <app-staff-form [idStaff]="idStaff" (messengerStaffUpdated)="setStaffUpdatedForUser($event)"></app-staff-form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
  </mat-step>
</mat-horizontal-stepper>


