:host >>> th#staffEvaluation > .mat-sort-header-container  {
    color: darkblue;
    min-width: 50px;
}

:host >>> th#sonarEvaluation > .mat-sort-header-container  {
    color: darkblue;
    min-width: 50px;
}

:host >>> th#auditEvaluation > .mat-sort-header-container  {
    color: darkblue;
    min-width: 50px;
}

:host >>> th#name > .mat-sort-header-container  {
    color: darkblue;
    min-width: 300px;
    padding-left: 10px;
}

:host >>> th#techno > .mat-sort-header-container  {
    color: darkblue;
    min-width: 300px;
    padding-left: 10px;
}

:host >>> th#lastCommit > .mat-sort-header-container  {
    color: darkblue;
    min-width: 100px;
}

:host >>> th#lastCommitter > .mat-sort-header-container  {
    color: darkblue;
    min-width: 200px;
}

.row_any  {
    height: 45px;
}

#hostProjectsTable {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

td.name {
    padding-left: 10px;
}

div.awesomeTitle {
    float: left;
    padding: 3px;
}
i.awesomeTitle {
    font-size: 28px;
}