
<div class="container" style="padding: 5px">
    <div class="row bg-light text-dark" style="border-style: solid; border-width: 1px; color: black; border-radius: 10px; font-size: x-large" >
        <div class="col-3">Name</div>
        <div class="col-3">Levels</div>
        <div class="col-4">Main skills</div>        
    </div>
    
    <div *ngFor="let collaborator of collaborators" class="row" style="font-size: large">
        <div class="col-3">
        	<a [routerLink]="['/user', collaborator.idStaff]">
        		{{collaborator.firstName}} {{collaborator.lastName}}
       		</a>
		</div>
        <div class="col-3">{{levelTitle(collaborator.level)}}</div>
        <div class="col-4">Not too much</div>        
    </div>

</div>
