<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="selectedIndexChange($event)">
	<mat-tab label="Project"> 
			<app-project-form [project$]="project$" [risk$]="risk$"></app-project-form>
	</mat-tab> 
	<mat-tab [disabled]="!canConnectSourceControl()" label="Staff"> 
			<app-project-staff></app-project-staff>
	</mat-tab> 
	<mat-tab [disabled]="!canConnectSourceControl()" label="Staff Coverage"> 
		<app-project-sunburst 
			[project$]="project$"
			(tabActivationEmitter)="tabActivation($event)"
			(updateRiskLevel)="updateRiskLevel($event)">
		</app-project-sunburst>
	</mat-tab> 
	<mat-tab label="Sonar"> 
			<img [src]="'./assets/img/demo/demo-sonar.png'" style=" height: 600px;">
	</mat-tab> 
	<mat-tab label="Audit"> 
			<app-project-audit></app-project-audit> 
	</mat-tab> 
</mat-tab-group>