<mat-tab-group  [selectedIndex]="tabIndex" (selectedIndexChange)="selectedIndexChange($event)">
	<mat-tab label="Project"> 
		<div class="large-box mat-elevation-z4">
			<app-project-form [subjProject]="subjProject"></app-project-form>
		</div>
	</mat-tab> 
	<mat-tab [disabled]="!canConnectSourceControl()" label="Staff"> 
		<div class="large-box mat-elevation-z4">
			<app-project-staff></app-project-staff>
		</div>
	</mat-tab> 
	<mat-tab [disabled]="!canConnectSourceControl()" label="Staff Coverage"> 
		<div class="large-box mat-elevation-z4" style="background-color: pink; height: inherit">
			<app-project-sunburst [subjProject]="subjProject"></app-project-sunburst>
		</div>
	</mat-tab> 
</mat-tab-group>