<div [ngClass]="classTopic(id)" (click)="switchTopic(id)">

    <div id="headerRisk-{{id}}" class="headerRisk"></div>

    <div class="auditGraphicBadge">
        <app-audit-graphic-badge
            (messengerEvaluationChange)="onEvaluationChange($event)"
            [editable]=true
            [index]=index
            [evaluation]=evaluation>
        </app-audit-graphic-badge>
    </div>
    
    <div id="tasks-{{id}}" [ngClass]="classIconTasks(id)" (click)="showOrHideAuditTask()">
        <span>
            <i class="fas fa-tasks" style="font-size: 40px"></i>
        </span>
    </div>

    <div id="topic-title-{{id}}" class="title">{{title}}</div>

</div>
