
div.audit-thumbnail, div.audit-thumbnail-selected {
    background-color: whitesmoke;
    width: 360px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;;
    position: relative;
}

div.audit-thumbnail:hover {
    border: 1px solid black !important;
}

div.audit-thumbnail-selected {
    border: 2px solid black !important;
}

div.headerRisk {
    height: 10%;
    overflow: hidden;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.title {
    position: absolute;
    right: 10px;
    bottom: 35px;
    width: 60%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

div.weight {
    position: absolute;
    right: 10px;
    bottom: 60px;
    width: 60%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;   
}

div.formfieldWeight {
    width: 30%;
}

#weight {
    text-align: right;
    width: 30px;
}
  
#weight::-webkit-outer-spin-button,
#weight::-webkit-inner-spin-button {
    display: none;
}


input.weight {
    width: 20%;
}

div.sliderWeight {
    width: 70%;
}

.mat-slider-horizontal {
    width: 100%;
    margin-bottom: 10px;
}

div.tasks, div.tasks-selected, div.report, div.report-selected {
    position: absolute;
    top: 22px;
    height: 40px;
}

div.report, div.report-selected {
    right: 47px;
    padding: 2px 0px 0px 0px;
    width: 40px;
    text-align: center;
}

div.tasks, div.tasks-selected {
    padding: 2px;
    right: 5px;
}

div.tasks-selected, div.tasks:hover, div.report-selected, div.report:hover {
    color: #28a745;
    border: 1px solid grey;
}

div.auditTask {
    width: 300px;
    height: 200px;
    background-color: whitesmoke;
    bottom: 40px;
    position: fixed
}

div.auditGraphicBadge {
    position: absolute;
    top: 65px;
    left: 15px;
    width: 120px;
    height: 120px;
} 