<div class="staff-container-form">
	<div id="staffForm">
		<form class="needs-validation" [formGroup]="profileStaff"
			(ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-md-6 mb-3">
                    <label for="firstName">First name</label> 
                    <input type="text"
						class="form-control" id="firstName" name="firstName"
						(change)="onChange(FIRST_NAME)"
						[readonly]="isAlreadyDesactivated()" placeholder="" value=""
                        formControlName="firstName"/> 
                    <label
						*ngIf="firstName.touched && firstName.invalid" [ngClass]="'alert alert-warning'"
						style="width: 100%; font-size: 10px;">16 max characters for
						the first name, without useless space.</label>
				</div>
				<div class="col-md-6 mb-3">
                    <label for="lastName" class="required">Last name</label> 
                    <input type="text"
						class="form-control required" id="lastName" name="lastName"
						(change)="onChange(LAST_NAME)"
						[readonly]="isAlreadyDesactivated()" 
						placeholder="Enter the last name"
                        value="" formControlName="lastName"/> 
                    <label
						*ngIf="lastName.touched && lastName.invalid" [ngClass]="'alert alert-warning'"
						style="width: 100%; font-size: 10px;"> Last name is required
						with 16 max characters, without useless space.</label>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="nickName">Nickname</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">@</span>
						</div>
						<input type="text" class="form-control" id="nickName"
							name="nickName" [readonly]="isAlreadyDesactivated()"
							placeholder="Enter the nickname (if any) for this staff member"
                            value="" formControlName="nickName"/> 
                        <label
							*ngIf="nickName.touched && nickName.invalid" [ngClass]="'alert alert-warning'"
							style="width: 100%; font-size: 10px;">12 max character for
							the Pseudo,  without useless space.</label>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="login" class="required">Login</label> <input type="text"
						class="form-control required" id="login" name="login"
						[readonly]="isAlreadyDesactivated()" 
						placeholder="Enter the connection login"
						value="" formControlName="login"> <label
						*ngIf="login.touched && login.invalid" [ngClass]="'alert alert-warning'"
						style="width: 100%; font-size: 10px;"> login is required
						with 16 max character,  without useless space.</label>
				</div>
			</div>
			<div class="row" *ngIf="hasBeenActive()">
				<p class="lastActivity">Last activity recorded : {{lastMission().lastCommit | date:'mediumDate'}} on {{lastMission().name}}</p>
			</div>
			<div class="mb-3">
				<label for="email" class="required">Email</label>
                <input type="email" 
                    class="form-control" 
                    id="email" name="email"
                    [readonly]="isAlreadyDesactivated()" 
                    placeholder="you@example.com"
                    formControlName="email"/> 
                <label *ngIf="email.touched && email.invalid"
                    [ngClass]="'alert alert-warning'"
                    style="width: 100%; font-size: 10px;">
                    You must specify an email address for this new staff member.
                </label>
			</div>
			<div class="mb-3">
				<label for="profile" class="required">Profile</label> <select name="label" id="profile"
					formControlName="profile" class="custom-select d-block w-100">
					<option *ngFor="let level of profiles" [value]="level.code">{{level.title}}</option>
                </select> 
                <label *ngIf="profile.touched && profile.invalid" [ngClass]="'alert alert-warning'"
					style="width: 100%; font-size: 10px;"> Please, select a
					profile for this staff member.</label>
			</div>

			<div class="mb-3 forceActiveState">
				<div>
					<mat-checkbox 
						id="forceActiveState" name="forceActiveState" formControlName="forceActiveState" 
						(change)="onChange(FORCEACTIVESTATE)">
						Click this checkbox if you want to be able to force the 'active' state manually.
					</mat-checkbox>
				</div>
				<div class="active">
					<mat-checkbox 
						id="active" name="active" formControlName="active" 
						(change)="onChange(IS_ACTIVE)">
						{{label_isActive}} {{label_dateInactive | date : 'longDate'}} 
					</mat-checkbox>
					<span [hidden]="!isAlreadyDesactivated()"><br/>&nbsp;&nbsp;Recheck this checkbox to reactivate this staff member</span>
				</div>
			</div>

			<div class="mb-3">
				<label> 
					<input type="checkbox" id="external"  name="external" formControlName="external"/> 
					External (If this box is checked, this developer is not an internal employee)
				</label>
			</div>

            <div class="row">
                <div class="col-md-9"></div>               
                <div class="col-md-3">              
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button id="ok" [ngClass]="classOkButton()" [disabled]="(!profileStaff.valid) || isAlreadyDesactivated()" type="submit"></button>
                </div>
            </div>
		</form>
	</div>
</div>


