<div id="connection" class="container">

    <div class="col-md-12 text-left" [hidden]="!veryFirstConnection">
        <p class="important">This is the very first connection in Wibkac.</p>
        <p>You need first to setup the admin user.</p>
        This user has a complete access to the application features and is allowed to setup user rights.<br/>
        Other admin users are possible.<br/><br/>
    </div>

    <div class="col-md-12 text-left" [hidden]="veryFirstConnection">
        <p class="important">
			It seams like this is your FIRST connection into Wibkac.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="skip">
				If you are already registered with a user/password, just skip this step and connect into Wibkac.</span>
			&nbsp;
			<button class="btn btn-outline-secondary rounded" [routerLink]="['/']">
				connect
			</button>
			<br/>
		</p>
    </div>

    <div class="col-md-12">
      <form class="needs-validation" [formGroup]="connectionGroup">
        
            <div class="row">
                <div class="col-md-5 labelConnection">
                    <label for="username" class="required labelConnection">Username</label>
                </div>
                <div class="col-md-7">
                    <input 
                        type="text" 
                        class="form-control required" 
                        id="user" name="username" 
                        placeholder="Username (Required)" formControlName="username"/>
                    <label *ngIf="username.touched && username.invalid" [ngClass]="'alert alert-warning'">
                        Username is required, and cannot exceed 16 characters max.
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 labelConnection">
                    <label for="password" class="required labelConnection">Password</label>
                </div>
                <div class="col-md-7">
                    <input type="password" 
                        class="form-control required" 
                        id="password" name="password" 
                        placeholder="Password (Required)" 
                        formControlName="password"/>
                    <label *ngIf="password.touched && password.invalid" 
                        [ngClass]="'alert alert-warning'">
                        Password is required, with 8 chars min, and 16 chars max
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 labelConnection">
                    <label for="confirmPassword" class="required labelConnection">Confirm the password</label>
                </div>
                <div class="col-md-7">
                    <input type="password" 
                        class="form-control required" 
                        id="passwordConfirmation" name="passwordConfirmation" 
                        placeholder="Password (Required)" 
                        formControlName="passwordConfirmation"/>
                    <label *ngIf="passwordConfirmation.touched && passwordConfirmation.invalid" 
                        [ngClass]="'alert alert-warning'">
                        Confirmation password must be identical to the one above.
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button class="cancelButton" type="cancel" alt="cancel this operation" (click)="onCancel()"></button>
                </div>
                <div class="col-md-2">
                    <button id="okButton" [ngClass]="classOkButton()" type="submit" [disabled]="connectionGroup.invalid" (click)="onSubmit()"></button>
                </div>
            </div>
        </form>
    </div>
</div>
