<div id="host-controlled-rising-skyline">
    <controlled-rising-skyline
        [height] = height
        [width] = width
        [margin] = margin
        [risingSkylineHistory$] = skylineService.skyline$
        [speed] = speed
        [displayVerticalTitle] = true
        [buildingMinimumHeightVerticalTitle] = 5
        [startingColor] = "'#28a745'"
        [endingColor] = "'#8B0000'"
        [sliderColor] = "'#0000FF'"
        [controlBackgroundColor]="'whiteSmoke'">
    </controlled-rising-skyline>
</div>
