<div *ngIf="!editable" class="graphic-badge-non-editable">
    <svg viewBox="00 0 120 120" width="70px" height="70px">
        <path id="topic-arc-{{index}}" fill="transparent" stroke-width="8" />
        <text id="topic-note-{{index}}" class="evaluation">{{evaluation}}</text>
    </svg>
</div>

<div *ngIf="editable" class="graphic-badge">
    <svg width="120px" height="120px" >
        <g>
            <path id="topic-arc-{{index}}" fill="transparent" stroke-width="12px"  />
            <foreignObject id="topic-note-{{index}}"  width="60px" height="40px">
                <xhtml:input (change)="onChange()" (input)="onInput()" [(ngModel)]="evaluation" class="inputEvaluation"/>
            </foreignObject>
        </g>
    </svg>
</div>


