div.graphic-badge {
    width: 75px;
    height: 75px;
}

.evaluation {
    font-size: 28px;
    font-weight: 600;
}

.inputEvaluation {
    font-size: 22px;
    font-weight: 600;
    width: 45px;
    height: 30px;
    background-color: transparent;
    text-align: center;

    border-top: none;   
    border-left: none;
    border-right: none;
    border-bottom: 1px solid green !important;
    outline: none;
}

.inputEvaluation:focus {
    background-color: white;
}