div.graphic-badge {
    width: 120px;
    height: 120px;
}

div.graphic-non-editable {
    width: 70px;
    height: 70px;
}

.evaluation {
    font-size: 38px;
    font-weight: 600;
    pointer-events: none;
}

.inputEvaluation {
    font-size: 30px;
    font-weight: 600;
    width: 60px;
    height: 40px;
    background-color: transparent;
    text-align: center;

    border-top: none;   
    border-left: none;
    border-right: none;
    border-bottom: 1px solid green !important;
    outline: none;
}

.inputEvaluation:focus {
    background-color: white;
    text-align: center;
}

.inputEvaluation::-webkit-outer-spin-button,
.inputEvaluation::-webkit-inner-spin-button {
    display: none;
}
