<div *ngIf="(!editable && project$)" class="graphic-badge-non-editable">
    <svg viewBox="0 0 120 120" width="70px" height="70px">
        <path id="topic-arc-{{id}}" fill="transparent" stroke-width="8" />
        <text id="topic-note-{{id}}" class="evaluation"></text>
    </svg>
</div>

<div *ngIf="(!editable && project)" class="graphic-badge-non-editable">
    <svg viewBox="0 0 120 120" width="40px" height="40px">
        <path id="topic-arc-{{id}}" fill="transparent" stroke-width="8" />
        <text id="topic-note-{{id}}" class="evaluation"></text>
    </svg>
</div>

<div *ngIf="editable" class="graphic-badge">
    <svg width="120px" height="120px" >
        <g>
            <path id="topic-arc-{{id}}" fill="transparent" stroke-width="12px"  />
            <foreignObject id="topic-note-{{id}}"  width="60px" height="40px">
                <xhtml:input id="topic-input-note-{{id}}" type="number" (change)="onChange()" (input)="onInput()" [(ngModel)]="evaluation" class="inputEvaluation"/>
            </foreignObject>
        </g>
    </svg>
</div>


