<div *ngIf="(!editable && project$)">
    <svg viewBox="0 0 120 120" [ngStyle]="styleSize" >
        <path id="topic-arc-{{id}}" fill="transparent" stroke-width="8" />
        <text id="topic-note-{{id}}" class="evaluation"></text>
    </svg>
</div>

<div *ngIf="(!editable && project)">
    <svg viewBox="0 0 120 120" [ngStyle]="styleSize">
        <path id="topic-arc-{{id}}" fill="transparent" stroke-width="8" />
        <text id="topic-note-{{id}}" class="evaluation"></text>
    </svg>
</div>

<div *ngIf="editable" class="graphic-badge" (style)="styleSize">
    <svg>
        <g>
            <path id="topic-arc-{{id}}" fill="transparent" stroke-width="12px"  />
            <foreignObject id="topic-note-{{id}}"  width="60px" height="40px">
                <xhtml:input id="topic-input-note-{{id}}" type="number" (change)="onChange()" (input)="onInput()" [(ngModel)]="evaluation" class="inputEvaluation"/>
            </foreignObject>
        </g>
    </svg>
</div>


