.mat-dialog-title {
	color: antiquewhite;
	background-color: #343a40 !important;
	text-align: center;
	width: 100%;
	font-size: 1em;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;	
	margin: 0;
}

.mat-dialog-content {
	margin: 5px;
	padding: 5px;
}

.mat-dialog-actions {
	margin-bottom: 5px;
	padding: 0;

}

button.actions {
	padding: 10px;
	margin-right: 10px;
	border-radius: 4px;	
	width: 60px;
}

#icon {
	margin-left: 50px;
}

