<mat-card id="panelUnknowns">
  <mat-card-header>
    <div mat-card-avatar class="image-unknowns"></div>
    <mat-card-title>{{projectName}}</mat-card-title>
    <mat-card-subtitle>Undefined contributors</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="description">
      <br/>
      The list below contains the list of unregistered contributors for this project.<br/>
      These login need to be registered in order to completely evaluate the risk.
    </p>

    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 tableUnknowns" matSort>

      <ng-container matColumnDef="unknown">
        <th id="unknown" mat-header-cell *matHeaderCellDef mat-sort-header>Unknown</th>
        <td mat-cell class="td-unknown" *matCellDef="let unknown">{{unknown.login}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row_any"></tr>

    </table>

  </mat-card-content>
</mat-card>


