a.header_toolbar_master_detail {
    text-decoration: none;
    display: inline-block;
}

a.header_toolbar_master_detail:hover {
    background-color: #ddd;
}

.previous {
    color: teal;
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
   	padding-right: 8px;
    padding-left: 8px;
}

.next {
    color: teal;
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
   	padding-right: 8px;
    padding-left: 8px;
}

.round {
    border-radius: 25%;
}

#header_navigation_master_detail {
    display: flex;
}
