<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="#">{{formTitle}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown" ngbDropdown><a
				class="nav-link dropdown-toggle" id="dropdownSkills"
				ngbDropdownToggle>Skills</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownSkills"
					ngbDropdownMenu>
					<li><a class="dropdown-item" href="/searchSkill">Search</a></li>
					<li><a class="dropdown-item" href="/skill">New</a></li>
				</ul></li>
			<li class="nav-item dropdown" ngbDropdown><a
				class="nav-link dropdown-toggle" id="dropdownUsers"
				ngbDropdownToggle>Developers</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownUsers"
					ngbDropdownMenu>
					<li><a class="dropdown-item" href="/searchUser">Search</a></li>
					<li><a class="dropdown-item" href="/user">New</a></li>
				</ul></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search"
				[attr.disabled]="is_searching?null:''" name="searching_what"
				[(ngModel)]="searching_what" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0"
				[attr.disabled]="is_searching?null:''" (click)="search()"
				type="submit">Search</button>
		</form>
	</div>
</nav>
<div class="panel panel-primary">
	<div class="panel-body">
		<router-outlet></router-outlet>
	</div>
</div>
