<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
	<div id="header_navigation_master_detail" class="p-2">
		<a href="" [routerLink]="['/searchUser']"
			class="header_toolbar_master_detail round" width="48" height="48">
			<img [hidden]=!in_master_detail src="/assets/img/list.png" width="48"
			height="48" />
		</a> 
		<a href="" [routerLink]="['/user', previousId]"
			class="header_toolbar_master_detail previous round"
			[class.disabled]="(previousId == undefined)"
			[hidden]=!in_master_detail> &nbsp;&#8249;&nbsp; </a> 
		<a href=""
			[routerLink]="['/user', nextId]"
			class="header_toolbar_master_detail next round"
			[class.disabled]="(nextId == undefined)" [hidden]=!in_master_detail>
			&nbsp;&#8250;&nbsp; 
		</a>
	</div>
	
	<div id="formTitle" class="p-2">
		{{formTitle}} 
	</div>
	
	<div class="p-2">
		<a 	[routerLink]="['/skill']"
			[class]="(skill_activated 
					? 'activated header_toolbar_master_detail round' 
					: 'inactive header_toolbar_master_detail round')" 
			(click)="switchToSkill()"> <img alt="Skill module"
			[src]="(skill_activated ? image_skill_activated : image_skill_inactive)"
			width="48" height="48" />
		</a>
		&nbsp;
		<a 	[routerLink]="['/user']"
			[class]="(dev_activated 
					? 'activated header_toolbar_master_detail round' 
					: 'inactive header_toolbar_master_detail round')" 
			(click)="switchToDev()"> 
				<img alt=""
				[src]="(dev_activated ? image_dev_activated : image_dev_inactive)"
				width="48" height="48" />
		</a>
	</div>

	<div class="p-2 ml-auto">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search"
				name="searching_what"
				[(ngModel)]="searching_what" 
				aria-label="Search"
				[attr.disabled]="is_allowed_to_search?null:''"
				(focus)="focusSearch()">
			<button class="btn btn-outline-success my-2 my-sm-0"
				[attr.disabled]="is_allowed_to_search?null:''" 
				(click)="search()"
				type="submit">Search</button>
		</form>
	</div>
</nav>

<div class="panel panel-primary">
	<div class="panel-body">
		<router-outlet></router-outlet>
	</div>
</div>

<app-message></app-message>

