<div class="project-remove">
    <div class="text-project-remove">
        <p>This project is empty from the Fitzhì point of view :</p>
        <ul>
            <li>No data has been gathered from the GIT repository, and its activity</li>
            <li>No Sonar server declared</li>
            <li>No Audit have been processed</li>
        </ul>
        <p class="warning">
            Therefore your are allowed to <strong>permanently</strong> delete this project
        </p>
    </div>
    <div class="action-project-remove">
        <button 
            class="btn rounded btn-outline-secondary" 
            (click)="projectService.removeProject()">
            <em class="fas fa-trash-alt"></em>
        </button>
    </div>
</div>
