div.badge {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border-style:solid;
}

div.global {
    background-color: lightgrey;
    width: 150px;
    height: 150px;
    border-color: black;
    border-width: 2px;
}

div.metric {
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    border-color: grey;
    border-width: 1px;
}

div.thumbnail {
    width: 70px;
    height: 100px;
    background-color: transparent;
    border-width: 0;
}

.svg {
    width: 90%;
    height: 82%x;
}

P.badgeTextGlobal {
    margin: 3px;
    font-size: 14px;
}

P.badgeText {
    margin: 3px;
    font-size: 11px;
}

P.badgeLinesOfCode{
    font-size: 10px;
    margin: 2px;
    color: gray;
}

#textGlobalEvaluation {
    font-size: 18px;
} 

#quotationBadge {
    margin-bottom: 5px;
}

div.empty {
    margin: 0;
    width: 100px;
    min-width: 100px;
    height: 70px;
    min-height: 70px;
    background-color: transparent;
}
