#sonarDashboard {
	display: flex;
}

#liveSonarBadges {
	height: 100%;
	background-color: whitesmoke;
}

#headerSonarBadges {
	display: inline-flex;
	margin: 10px;
}

div.badges {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
}

button.class-sonar-activated {
	background-image: url(/assets/img/sonar-selected.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid back;
	width: 30px;
	height: 30px;
	border-radius: 10%;
	margin-right: 5px;

}

#sonarQuotation {
	width: 100%;
	height: fit-content;
}

div.sonar-inaccessible, div.sonar-too-old {
	font-size: 30px;
	width: 800px;
	margin: 10px auto;
}

div.sonar-inaccessible {
	color:  var(--color-error);
}

div.sonar-too-old {
	color:  var(--color-warning);
}
