:host >>> th#pseudo > .mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
}

:host >>> th#login > .mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
  margin-left: 1em;
}

:host >>> th#fullName > .mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;  
  margin-left: 1em;
}

:host >>> th#technical > .mat-sort-header-container {
  display: flex;
  color: darkblue;
  height: 2em;
}

.tableGhosts {
  width: 100%;
}

.td-ghost .td-technical {
  height: 1em;
  width: fit-content;
  padding-right: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.td-ghost {
  padding-left: 1em;
}

.td-technical {
  padding-left: 2em;
}
.row_any  {
    height: 1em;
}
