<div class="vertical-nav" id="sidebar">

	<div id="skyline" class="skyline-icon"
			(mouseenter)="popupHelper.mouseEnter(selection.skyline)" 
			(mouseleave)="popupHelper.mouseLeave()">
			<app-skyline-icon
				[selected$]=skylineSelected$ 
				[width]="'60px'" 
				[height]="'60px'" 
				(dashboardSelected$)="switchTo(selection.skyline)">
			</app-skyline-icon>
		</div>

		<angular-popper placement="left" target="#skyline" *ngIf="popupHelper.isButtonActivated(selection.skyline) && !hasSelectedADashboard()">
			<div content class="help">
				<h4 class="help-title">Display Skyline history</h4>
				<div class="help-content">
					<p>
						The history of your portfolio will be replayed on this panel with an animated histogram.  
					</p>
					<p>
						Each project is represented by a surging bar.
						And the size of each bar is proportional to the number of lines counted in the project.
						The color is related to the proportion of developers, still active in your company.
					</p>
					<p>
						We evaluate each project for each week in the history.
						Each project has a calculated risk level from 0 to 10.
					</p>
					<ul>
						<li>
							0 : No line in the current project has been developed by an active developer.
							The project is orphaned by all its creators
						</li>
						<li>10 : All lines are covered by a developer who is still present in the teams.</li>
					</ul>
				</div>
			</div>
		</angular-popper>        

		<button id="treeMap-skills" class="btn rounded treeMap-skills"
				[ngClass]="{
						'btn-outline-success' : isSelected(selection.treeMapSkills), 
						'btn-outline-secondary': !isSelected(selection.treeMapSkills)}" 
						(mouseenter)="popupHelper.mouseEnter(selection.treeMapSkills)" 
						(mouseleave)="popupHelper.mouseLeave()"
						(click)="switchTo(selection.treeMapSkills)">
				<svg class="treeMapButton">
						<rect x="6" y="6" class="rectTreeMap" style="fill:#27A53F" />
						<rect x="21" y="6" class="rectTreeMap" style="fill:#329338" />
						<rect x="36" y="6" class="rectTreeMap" style="fill:#3D8131"  />
						<rect x="6" y="21" class="rectTreeMap" style="fill:#486E2A" />
						<rect x="21" y="21" class="rectTreeMap" style="fill:#535C23" />
						<rect x="36" y="21" class="rectTreeMap" style="fill:#5E4A1C"  />
						<rect x="6" y="36" class="rectTreeMap" style="fill:#74250E" />
						<rect x="21" y="36" class="rectTreeMap" style="fill:#7F1307" />
						<rect x="36" y="36" class="rectTreeMap" style="fill:#8B0000"  />
				</svg>
		</button>

		<angular-popper placement="left" target="#treeMap-skills" *ngIf="popupHelper.isButtonActivated(selection.treeMapSkills) && !hasSelectedADashboard()">
			<div content class="help">
				<h4 class="help-title">Display staff risk</h4>
				<div class="help-content">
					<p>
						This Treemap chart represents the skills coverage of your portfolio.
						It compares the volume of code registered by your applications, and the active teams available, and able to maintain them.
						<br/>
					</p>
					<p>
						This chart is answering the question : <em>Is my IT staff sufficient to maintain my portfolio&nbsp;?</em>
					</p>
				</div>
			</div>
		</angular-popper>        

		<button id="currentSummary" class="btn rounded currentMinimized"
				[ngClass]="{
						'btn-outline-success' : isSelected(selection.currentSummary), 
						'btn-outline-secondary': !isSelected(selection.currentSummary)}" 
					(mouseenter)="popupHelper.mouseEnter(selection.currentSummary)" 
					(mouseleave)="popupHelper.mouseLeave()"
					(click)="switchTo(selection.currentSummary)">
					<div class="pie-minimized">
						<app-pie-chart
										[radius]=200
										[active]=false
										[pie]=pieIdentifier.currentMinimized>
						</app-pie-chart>
				</div>
		</button>

		<angular-popper placement="left" target="#currentSummary" *ngIf="popupHelper.isButtonActivated(selection.currentSummary) && !hasSelectedADashboard()">
			<div content class="help">
				<h4 class="help-title">Display Pie dashboard</h4>
				<div class="help-content">
					<p>
						This sector diagram summarizes on a single PIE, the quality of the portfolio on the 3 metrics :
					</p>
					<ul>
						<li><strong>the Staff coverage, </strong><em>the coverage of developers who are still active, and have worked on your applications.</em></li>
						<li><strong>the Code quality, </strong> <em>the distribution of the average Sonar scores given to your applications.</em></li>
						<li><strong>the global design </strong> <em>the appraisal on your projects given by yours/ours experts. It's the human point of view on projects.</em></li>
					</ul>
				</div>
			</div>
		</angular-popper>        
	 
		<button id="lastMonthSummary" class="btn rounded lastMonthMinimized"
				[ngClass]="{
						'btn-outline-success' : isSelected(selection.lastMonthSummary), 
						'btn-outline-secondary': !isSelected(selection.lastMonthSummary)}" 
					(mouseenter)="popupHelper.mouseEnter(selection.lastMonthSummary)" 
					(mouseleave)="popupHelper.mouseLeave()"
					(click)="switchTo(selection.lastMonthSummary)">
			<p>Last month</p>
				<em class="fas fa-camera"></em>
		</button>

		<angular-popper placement="left" target="#lastMonthSummary" *ngIf="popupHelper.isButtonActivated(selection.lastMonthSummary) && !hasSelectedADashboard()">
			<div content class="help">
				<h4 class="help-title">Summary dashboard for last month</h4>
				<div class="help-content">
					<p>
						You must monitor your IT assets over time. Here, you'll find a snapshot of your portfolio for last month.
					</p>
					<p>
						As you don't have any history in Fitzhi yet, no snapshot from last month is available.<br/>
						<em>Good for us. We don't have yet developed this feature!</em>
					</p>
				</div>
			</div>
		</angular-popper>        

		<button id="lastYearSummary" class="btn rounded lastYearMinimized"
				[ngClass]="{
						'btn-outline-success' : isSelected(selection.lastYearSummary), 
						'btn-outline-secondary': !isSelected(selection.lastYearSummary)}" 
						(mouseenter)="popupHelper.mouseEnter(selection.lastYearSummary)" 
						(mouseleave)="popupHelper.mouseLeave()"
					(click)="switchTo(selection.lastYearSummary)">
				<p>Last year</p>
				<em class="fas fa-camera"></em>
		</button>

		<angular-popper placement="left" target="#lastYearSummary" *ngIf="popupHelper.isButtonActivated(selection.lastYearSummary) && !hasSelectedADashboard()">
			<div content class="help">
				<h4 class="help-title">Summary dashboard for last year</h4>
				<div class="help-content">
					<p>
						You must monitor your IT assets over time. Here, you'll find a snapshot of your portfolio for last year.
					</p>
					<p>
						As you don't have any history in Fitzhi yet, no snapshot from last year is available.<br/>
						<em>Good for us. We don't have yet developed this feature!</em>
					</p>
				</div>
			</div>
		</angular-popper>        
	 
</div>

<div class="mainDashboard page-content"> 

		<div id="container-treemap" *ngIf="(projectService.allProjectsIsLoaded$|async) && (isSelected(selection.treeMapSkills))">
				<app-treemap-skills></app-treemap-skills>
		</div>
		
		<div class="dashboard" *ngIf="isSelected(selection.lastYearSummary)">
				<div *ngIf="(projectService.allProjectsIsLoaded$|async) && ((pieDashboardService.slicesLastYear$|async).length > 0)" 
								class="formerDashboard">
						<p class="text">Last year snapshot</p>
						<app-pie-chart
								[radius]=180
								[active]=false
								[legend]=false
								[pie]=pieIdentifier.lastYear>
						</app-pie-chart>
				</div>
				<div class="camera">
						Last year snapshot<br/>
						<em class="fas fa-camera camera large-fas"></em>
						<p class="camera">NO DATA AVAILABLE</p>
				</div>
		</div>


		<div class="dashboard" *ngIf="isSelected(selection.lastMonthSummary)">
				<div *ngIf="(projectService.allProjectsIsLoaded$|async) && ((pieDashboardService.slicesLastMonth$|async).length > 0)" class="formerDashboard">
						<p class="text">Last month result</p>
						<app-pie-chart
								[radius]=180
								[active]=false
								[legend]=false
								[pie]=pieIdentifier.lastMonth>
						</app-pie-chart>
				</div>
				<div class="camera">
						Last month snapshot<br/>
						<em class="fas fa-camera camera large-fas"></em>
						<p class="camera">NO DATA AVAILABLE</p>
				</div>
		</div>

		<div id="logo" *ngIf="isSelected(selection.none)">质</div>

		<div class="dashboard-pie" *ngIf="isSelected(selection.currentSummary) && (projectService.allProjectsIsLoaded$|async)">

			<div class="pie-legend">
				<app-pie-legend></app-pie-legend>
			</div>

			<div class="pie">
						<app-pie-chart
								[radius]=150
								[active]=true
								[legend]=true
								[pie]=pieIdentifier.current>
						</app-pie-chart>
				</div>

				<div class="pie-projects">
						<app-pie-projects></app-pie-projects>
				</div>

		</div>

		<div id="container-skyline" *ngIf="isSelected(selection.skyline) && (skylineService.skylineLoaded$|async) ">
			<app-skyline 
				[width]=skylineDimension.widthWithUnitOfMesure 
				[height]=skylineDimension.heightWithUnitOfMesure
				[margin]="'10px'"
				[speed]="10">
			</app-skyline>
		</div>
</div>
