div {
	--pie-height: 400px;
	--pie-width: var(--pie-height);
	--pie-diameter: 400px;

	/* width of the sidebar */
	--sidebar-width: 70px;
	--sidebar-button-width: 60px;
	--sidebar-button-height: 60px;

	/* Offset of the projects-treemap located on left of the sidebar */
	--treemap-left-offset: 0px;
}

.mainDashboard {
	line-height: 1;
	top: var(--toolbar-height);
	bottom: 0;
	left: var(--sidebar-width);
	right: 0;
	position: fixed;
}

.dashboard-pie {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20% 60% 20%;
}

.camera {
	color: lightgrey;
}

p.camera {
	font-size: 22px;
	text-align: center;
}

div.pie-legend {
  margin-top: 0;
}

div.pie {
	margin: 10px auto;
	width: 100%;
	height: 100%;
	max-height: 600px;
}

div.pie-projects {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

@media screen and (max-width: 1024px) {
	div.pie-projects {
		width: 0;
		visibility: hidden;
	}

	div.pie-legend {
		visibility: hidden;
	}
}

@media screen and (min-width: 1024px) {
	div.pie-projects {
		width: 200px;
		visibility: visible;
	}
	div.pie-legend {
		visibility: visible;
	}
}

#logo {
	font-size: 420px;
	background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin: 40vh auto;
	transform: translateY(-50%);
	
	width: 450px;
	height: 450px;
}
 
div.styline-icon {
	width: var(--sidebar-button-width);
	height: var(--sidebar-button-height);
}


button.starfield, button.technicalDate, button.pie, button.treeMap-skills, button.treeMap-projects, div.styline-icon {
	width: var(--sidebar-button-width);
	height: var(--sidebar-button-height);
	left: 5px;
	position: absolute;
	text-align: center;
	padding: 0;
	margin: 0;
}

button.starfield P, button.technicalDate P {
	margin-bottom: 0;
	font-size: 8px;
}

button.starfield I, button.technicalDate I, button.pie I {
	font-size: 34px;
}

button.technicalDate {
	bottom: 5px;
}

button.pie {
	bottom: 70px;
}

button.starfield {
	bottom: 210px;
}

div.skyline-icon {
	bottom: 140px;
	position: absolute;
	margin-left: 5px;
}

button.treeMap-projects {
	bottom: 350px;
}

button.treeMap-skills {
	bottom: 280px;
}

button.pie  div.pie-minimized {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.vertical-nav {
	min-width: var(--sidebar-width);
	width: var(--sidebar-width);
	min-height: calc(100% - var(--toolbar-height));
	height: calc(100% - var(--toolbar-height));
	position: fixed;
	top:  var(--toolbar-height);
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

svg.treeMapButton {
	width: 60px;
	height: 60px;
}

rect.rectTreeMap {
	width: 15px;
	height: 15px;
}

:host >>> div.angular-popper {
  background: lightyellow;
  width: 520px;
  left: 5px !important;
  z-index: 100;
  font-size: smaller;
}

:host >>> div.angular-popper__arrow {
  background: lightyellow;
  border-color: lightgrey;
}

em.fas {
  font-size: xx-large;
}

em.large-fas {
  font-size: 80px;
}

#container-treemap-projects {
	width: 100%;
	text-align: center;
}

#container-treemap-skills {
	width: calc(100% - var(--sidebar-width));
	height: calc(100% - var(--toolbar-height));
	top: var(--toolbar-height);
	bottom: 0;
	position: fixed;
}

div.host-treemap-projects {
	padding: 0;
	transform: translate(-6px, -6px); 
}

img.logoSonar {
	width: 28px;
}

table.evaluationDistributions {
	margin-left: 100px;
}
tr.evaluationDistributions, tr.evaluationDistributions td {
	text-align: center;
}

tr.evaluationDistributions td {
	width: 70px;
	font-weight: bold;
}

tr.evaluationDistributions td em {
	color: var(--color-selected);
}

div.panelDeveloperBase {
	border: 1px;
	width: 5px;
	height: 25px;
	border: 1px solid black;
}

div.panelDeveloperArrowRight {
    width: 15px;
    height: 25px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

div.panelDeveloperArrowLeft {
    width: 15px;
    height: 25px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

a.flipProjectsFilter {
	color: black;
	text-decoration: none;
}