div {
	--pie-height: 400px;
	--pie-width: var(--pie-height);
	--pie-diameter: 400px;

	/* width of the sidebar */
	--sidebar-width: 70px;
	--sidebar-button-width: 60px;
	--sidebar-button-height: 60px;
}

.mainDashboard {
	width: calc(100% - var(--sidebar-width));
	margin-left: var(--sidebar-width);
	line-height: 1;
}

.dashboard-pie {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20% 60% 20%;
}

.camera {
	color: lightgrey;
}

p.camera {
	font-size: 22px;
	text-align: center;
}

div.pie-legend {
  margin-top: 0;
}

div.pie {
	margin: 10px auto;
	width: 100%;
	height: 100%;
	max-height: 800px;
}

div.pie-projects {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
}

#logo {
	font-size: 420px;
	background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin: 40vh auto;
	transform: translateY(-50%);
	
	width: 450px;
	height: 450px;
}
 
div.styline-icon {
	width: var(--sidebar-button-width);
	height: var(--sidebar-button-height);
}


button.lastYearMinimized, button.lastMonthMinimized, button.currentMinimized, button.treeMap-skills, div.styline-icon {
	width: var(--sidebar-button-width);
	height: var(--sidebar-button-height);
	left: 5px;
	position: absolute;
	text-align: center;
	padding: 0;
	margin: 0;
}

button.lastYearMinimized P, button.lastMonthMinimized P {
	margin-bottom: 0;
	font-size: 8px;
}

button.lastYearMinimized I, button.lastMonthMinimized I, button.currentMinimized I {
	font-size: 34px;
}

button.lastYearMinimized {
	bottom: 5px;
}

button.lastMonthMinimized {
	bottom: 70px;
}

button.currentMinimized {
	bottom: 140px;
}

div.skyline-icon {
	bottom: 280px;
	position: absolute;
	margin-left: 5px;
}

button.treeMap-skills {
	bottom: 210px;
}

button.currentMinimized  div.pie-minimized {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

div.camera {
	width: 300px;
	margin: 40vh auto;
	transform: translateY(-50%);
	text-align: center;
	font-size: 22px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	padding: 20px;

}

i.camera {
	font-size: 60px;
}

.vertical-nav {
	min-width: var(--sidebar-width);
	width: var(--sidebar-width);
	min-height: calc(100% - var(--toolbar-height));
	height: calc(100% - var(--toolbar-height));
	position: fixed;
	top:  var(--toolbar-height);
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

svg.treeMapButton {
	width: 60px;
	height: 60px;
}

rect.rectTreeMap {
	width: 15px;
	height: 15px;
}

:host >>> div.angular-popper {
  background: lightyellow;
  width: 520px;
  left: 5px !important;
  z-index: 100;
  font-size: smaller;
}

:host >>> div.angular-popper__arrow {
  background: lightyellow;
  border-color: lightgrey;
}

em.fas {
  font-size: xx-large;
}

em.large-fas {
  font-size: 80px;
}
