<div [ngClass]="classTopic(id)" (click)="switchTopic(id)">

    <div id="headerRisk-{{id}}" class="headerRisk"></div>

    <div class="auditGraphicBadge" *ngIf="(projectService.projectLoaded$|async) ">
        <app-audit-graphic-badge 
            (messengerEvaluationChange)="onEvaluationChange($event)" 
            [editable]=true 
            [id]=id
            [width]=120
            [height]=120            
            [evaluation]=evaluation>
        </app-audit-graphic-badge>
    </div>

    <div id="tasks-{{id}}" [ngClass]="classIconTasks(id)" (click)="showHideAuditTasks()">
        <span>
            <em class="fas fa-folder-plus" style="font-size: 34px"></em>
        </span>
    </div>

    <div id="report-{{id}}" [ngClass]="classIconReport(id)" (click)="showHideAuditReport()">
        <span>
            <em class="far fa-file-alt" style="font-size: 34px"></em>
        </span>
    </div>
    
    <div id="topic-title-{{id}}" class="title">{{title}}</div>

    <div class="weight">
        <div class="formfieldWeight">
            <mat-form-field style="width: 100%">
                <mat-label>Weight</mat-label>
                <input 
                    id="weight" class="weight"
                    [(ngModel)]="weight"
                    (change)="onChange('weight')" (input)="onInput('weight')"
                    type="number" matInput />
                <span matSuffix> %</span>
            </mat-form-field>
        </div>
        <div class="sliderWeight">
            <mat-slider min="5" max="100" step="1" [value]='weight' 
                (input)="onSliderInputWeight($event)"
                (change)="onSliderChangeWeight($event)">
            </mat-slider>
        </div>
    </div>

</div>