#audit {
    margin-top: 0px;
    position: relative;
}

#auditSetup {
    position: absolute;
    right: 0px;
    top: 0px;
}

#setupCategories {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    right: 50px;
    top: 5px;
    border: 2px ridge black;
    /*  ; border-radius: 10%; */
}
