<div id="audit">
    <svg style="width:1200px; height: 800px;" onre>
        <path   id="arc1" 
                fill="transparent" 
                stroke="green" 
                stroke-width="20" />
        <text id="txt1" class="title">General organization</text>
        <path   id="arc2" 
                fill="transparent"
                stroke="orange" 
                stroke-width="20" />
        <text x="160" y="270" class="title">Code quality</text>
        <path   id="arc3" 
                fill="transparent" 
                stroke="red" 
                stroke-width="20" />
        <text x="160" y="415" class="title">Documentation</text>
        <path   id="arc4" 
                fill="transparent" 
                stroke="darkOrange" 
                stroke-width="20" />
        <text x="800" y="120" class="title">Technical Design</text>
        <path   id="arc5" 
                fill="transparent" 
                stroke="greenyellow" 
                stroke-width="20" />
        <text x="800" y="270" class="title">Build Process</text>
        <path   id="arc6" 
                fill="transparent" 
                stroke="lightCoral" 
                stroke-width="20" />
        <text x="800" y="415" class="title">Testability</text>

        <path   id="year" 
                fill="transparent" 
                stroke="lightGrey" 
                stroke-width="15" />
        <text x="485" y="215" fill="grey" class="title big">2015</text>


    </svg>
</div>