<div id="audit">
        <div>
                <app-project-audit-badges
                (messengerTopicWeight)="onWeightChange($event)"
                (messengerTopicEvaluation)="onEvaluationChange($event)"
                (messengerShowDivAuditTask)="onShowDivAuditTask($event)"
                [auditTopics$]="auditTopics$">
                </app-project-audit-badges>
        </div>
        <button id="auditSetup"
                class="btn btn-outline btn-outline-secondary rounded"
                (click)="setupCategories()">+
        </button>
        <div id="setupCategories" [hidden]="topicsHidden">
                <app-table-categories
                        [project$]="project$"
                        (messengerCategoryUpdated)="onCategoryUpdated($event)">
                </app-table-categories>
        </div>
        <div class="auditTask" [hidden]="!auditTaskFormModeIsOn">
                <app-audit-task-form [topic$]="topic$"></app-audit-task-form>
        </div>
</div>