<div class="d-flex flex-column justify-content-center">
	<div class="mt-3" *ngIf="googleService.isRegistered$|async">
		<div id="btnGoogle" (click)="googleService.render()"></div>
	</div>
	<div class="w-100 d-flex justify-content-center">
		<div class="mt-4 p-0 google-like" *ngIf="githubService.isRegistered$|async">
			<a href="javascript:void(0)" (click)="githubService.githubConnect()">
				<div id="btnGithub" class="d-inline-flex" >
					<div class="mt-1 mx-1 px-1 h4">
						<i class="fab fa-github"></i>
					</div>
					<div class="mx-2 mt-2">
						Github connect
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
