<div class="treemap-projects-chart" *ngIf="isChart() && (projectService.allProjectsIsLoaded$|async)">
	<ngx-charts-tree-map
		[scheme]="colorScheme"
		[results]="treemapProjectsService.distribution"
		[gradient]="gradient"
		[animations]="animations"
		[tooltipDisabled]="!active"
		[labelFormatting]="labelFormatting"
		[valueFormatting]="valueFormatting"
		(select)="onSelect($event)">
	</ngx-charts-tree-map>
</div>
<div class="treemap-projects-chart" *ngIf="isButton() && (projectService.allProjectsIsLoaded$|async)">
	<ngx-charts-tree-map
		[scheme]="colorScheme"
		[results]="treemapProjectsService.distribution"
		[gradient]="gradient"
		[animations]="animations"
		[tooltipDisabled]="!active"
		[labelFormatting]="noLabel"
		[valueFormatting]="noValue"
		(select)="onSelect($event)">
	</ngx-charts-tree-map>
</div>
