<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="select($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index">
    <ng-template mat-tab-label>
        <div class="d-flex justify-content-start myTab">
                <div style="min-width:20%"><em class="fas glyphicon fa-user-graduate" ></em></div>
                <div style="min-width:65%">{{truncate(tabs[index],12)}}</div>
                <button class="remove" (click)="remove(index)">x</button>
        </div>
    </ng-template>
    <app-staff-list [criteria]="criteria(index)" [activeOnly]="activeOnly(index)"></app-staff-list>
  </mat-tab>
</mat-tab-group>
<div *ngIf="(tabs.length === 0)" id="help-search"> 
  <p>
    You'll find below some available search criterias 
  </p>
  <ul>
    <li>
      This criteria : <span class="criteria">doo</span>, will filter all staff members whose <span class="property">first name</span> or <span class="property">last name</span> contains the string <span class="criteria">doo</span> case-unsensitive.
    </li>
    <li>
      This criteria : <span class="criteria">skill:java;doo</span>, will filter all staff members with a <span class="property">skill</span> in <span class="criteria">Java</span> of any level and a <span class="property">first name</span> or a <span class="property">last name</span> containing the string <span class="criteria">doo</span> case-unsensitive.
    </li>
    <li>
      This criteria : <span class="criteria">skill:java:2,typescript;doo</span>, will filter all staff members with a <span class="property">skill</span> in <span class="criteria">Java</span> of level <span class="criteria">2</span> and the <span class="property">skill</span>&nbsp;<span class="criteria">Typescript</span> of any level and a <span class="property">first name</span> or a <span class="property">last name</span> containing the string <span class="criteria">doo</span> case-unsensitive
    </li>
    <li>
      <div>
        The button 
        <button class="btn rounded btn-outline-success"><em class="far glyphicon fa-check-square"></em> Active </button>
        indicates that we are filtering active developers,      
        <button class="btn rounded btn-outline-secondary"><em class="far glyphicon fa-square"></em> All </button>
        accepts all developers.
      </div>
    </li>
  </ul>

</div>
