button.remove {
	background-color: transparent;
	border: none;
	outline: 0;
}

button.remove:hover {
	background-color: whitesmoke;
	border-radius: 50%;
}

/* We remove the horizontal scroll bar from the tab body content */ 
div.mat-tab-body-content {
	overflow-x: hidden;
}