div.app-container {
  position: absolute;
  top: var(--toolbar-height);
  left: 0;
  right: 0;
  bottom: 0;
}

div.app-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100;
}

div.panel.panel-primary {
  height: 100%;
}

div.panel-body {
  height: 100%;
}

/*

TODO A fix is expected there

The line below has been put in comment for the "starting-setup" component.
Certainly, it produces a bug elsewhere

:host >>> .ng-star-inserted {
    height: inherit;
}
*/

:host>>>div.mat-tab-labels {
  height: 3em;
}
