<div id="hostProjectsTable">
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort width="100%">

    <ng-container matColumnDef="staffEvaluation">
      <th id="staffEvaluation" mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
      <td mat-cell *matCellDef="let row">
        <svg height="48" width="48">
          <circle cx="24" cy="24" r="24" [ngStyle]="styleOfTheDot(row.staffEvaluation)" />
        </svg>
      </td>
    </ng-container>

    <ng-container matColumnDef="sonarEvaluation">
      <th id="sonarEvaluation" mat-header-cell *matHeaderCellDef mat-sort-header>Sonar</th>
      <td mat-cell *matCellDef="let row" style="width: 70px; height: 70px">
        <app-quotation-badge height="70" width="70" [index]=row.id [thumbnail]=false [medal]=true
          [title]="'evaluation.title'" [weight]=100 [evaluation]="projectService.calculateSonarEvaluation(row)">
        </app-quotation-badge>
      </td>
    </ng-container>

    <ng-container matColumnDef="auditEvaluation">
      <th id="auditEvaluation" mat-header-cell *matHeaderCellDef mat-sort-header>Audit</th>
      <td mat-cell *matCellDef="let row">
        <app-audit-graphic-badge [editable]=false [width]=40 [height]=40 [id]=row.id [project]="row">
        </app-audit-graphic-badge>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
      <td mat-cell *matCellDef="let row" class="name">
        <a [routerLink]="['/project', row.id]">{{row.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="techno">
      <th id="techno" mat-header-cell *matHeaderCellDef mat-sort-header>Main technology</th>
      <td mat-cell *matCellDef="let row" style="padding-left: 10px;">
        <a [routerLink]="['/project', row.id]"></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastCommit">
      <th id="lastCommit" mat-header-cell *matHeaderCellDef mat-sort-header>Last commit</th>
      <td mat-cell *matCellDef="let row">
        {{retrieveLastCommit(row.id).dateCommit | date:'mediumDate'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastCommitter">
      <th id="lastCommitter" mat-header-cell *matHeaderCellDef mat-sort-header>Last committer</th>
      <td mat-cell *matCellDef="let row">
        {{retrieveLastCommit(row.id).fullname()}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="editableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: editableColumns;" class="row_any"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>