<div class="vertical-nav" id="sidebar">
    
    <button class="btn rounded treeMap"
        [ngClass]="{
            'btn-outline-success' : isSelected(selection.treeMapSummary), 
            'btn-outline-secondary': !isSelected(selection.treeMapSummary)}" 
            (click)="switchTo(selection.treeMapSummary)">
        <svg class="treeMapButton">
            <rect x="6" y="6" class="rectTreeMap" style="fill:#27A53F" />
            <rect x="21" y="6" class="rectTreeMap" style="fill:#329338" />
            <rect x="36" y="6" class="rectTreeMap" style="fill:#3D8131"  />
            <rect x="6" y="21" class="rectTreeMap" style="fill:#486E2A" />
            <rect x="21" y="21" class="rectTreeMap" style="fill:#535C23" />
            <rect x="36" y="21" class="rectTreeMap" style="fill:#5E4A1C"  />
            <rect x="6" y="36" class="rectTreeMap" style="fill:#74250E" />
            <rect x="21" y="36" class="rectTreeMap" style="fill:#7F1307" />
            <rect x="36" y="36" class="rectTreeMap" style="fill:#8B0000"  />
        </svg>
    </button>
    
    <button class="btn rounded currentMinimized"
        [ngClass]="{
            'btn-outline-success' : isSelected(selection.currentSummary), 
            'btn-outline-secondary': !isSelected(selection.currentSummary)}" 
        (click)="switchTo(selection.currentSummary)">
        <app-pie-chart
                [radius]=150
                [active]=false
                [pie]=pieIdentifier.currentMinimized>
        </app-pie-chart>
    </button>

    <button class="btn rounded lastMonthMinimized"
        [ngClass]="{
            'btn-outline-success' : isSelected(selection.lastMonthSummary), 
            'btn-outline-secondary': !isSelected(selection.lastMonthSummary)}" 
        (click)="switchTo(selection.lastMonthSummary)">
        <p>Last month</p>
        <em class="fas fa-camera"></em>
    </button>

    <button class="btn rounded lastYearMinimized"
        [ngClass]="{
            'btn-outline-success' : isSelected(selection.lastYearSummary), 
            'btn-outline-secondary': !isSelected(selection.lastYearSummary)}" 
        (click)="switchTo(selection.lastYearSummary)">
        <p>Last year</p>
        <em class="fas fa-camera"></em>
    </button>

</div>

<div class="mainDashboard page-content"> 

    <div class="treemap" *ngIf="(projectService.allProjectsIsLoaded$|async) && (isSelected(selection.treeMapSummary))">
        <app-treemap></app-treemap>
    </div>
    
    <div class="dashboard" *ngIf="isSelected(selection.lastYearSummary)">
        <div *ngIf="(projectService.allProjectsIsLoaded$|async) && (slidesLastYear$|async)" 
                class="formerDashboard">
            <p class="text">Last year snapshot</p>
            <app-pie-chart
                [radius]=180
                [active]=false
                [pie]=pieIdentifier.lastYear>
            </app-pie-chart>
        </div>
        <div class="camera">
            Last year snapshot<br/>
            <em class="fas fa-camera camera"></em>
            <p class="camera">NO DATA AVAILABLE</p>
        </div>
    </div>


    <div class="dashboard" *ngIf="isSelected(selection.lastMonthSummary)">
        <div *ngIf="(projectService.allProjectsIsLoaded$|async) && (slidesLastMonth$|async)" class="formerDashboard">
            <p class="text">Last month result</p>
            <app-pie-chart
                [radius]=180
                [active]=false
                [pie]=pieIdentifier.lastMonth>
            </app-pie-chart>
        </div>
        <div class="camera">
            Last month snapshot<br/>
            <em class="fas fa-camera camera"></em>
            <p class="camera">NO DATA AVAILABLE</p>
        </div>
    </div>
    
    <div id="logo" *ngIf="isSelected(selection.none)">质</div>

    <div  class="dashboard" *ngIf="isSelected(selection.currentSummary)">

        <div *ngIf="(projectService.allProjectsIsLoaded$|async)" class="pie">
            <app-pie-chart
                [radius]=200
                [active]=true
                [pie]=pieIdentifier.current>
            </app-pie-chart>
        </div>

        <div class="pie-projects">
            <app-pie-projects></app-pie-projects>
        </div>

    </div>

</div>
