<div class="container" style="padding: 5px">
    <div class="row bg-light text-dark" style="border-style: solid; border-width: 1px; color: black; border-radius: 10px; font-size: x-large">
        <div class="col-6">Skill</div>
        <div class="col-1 title_stars">*</div>
        <div class="col-1 title_stars">**</div>
        <div class="col-1 title_stars">***</div>
        <div class="col-1 title_stars">****</div>
        <div class="col-1 title_stars">*****</div>
    </div>
    
    <div *ngFor="let skill of skills" class="row" style="font-size: large">
        <div class="col-6">
        	<a [routerLink]="['/skill', skill.id]">
        		{{skill.title}}
       		</a>
		</div>
        <div class="col-1 stars">6</div>
        <div class="col-1 stars">6</div>
        <div class="col-1 stars">6</div>
        <div class="col-1 stars">6</div>
        <div class="col-1 stars">6</div>
    </div>

</div>
