div.taskReport {
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
  
  div.taskReportOk {
    color: var(--color-selected);
  }
  
  div.taskReportError {
    color: var(--color-error);
  }