:host ::ng-deep th#fullname > .mat-sort-header-container  {
	color: darkblue;
}

:host ::ng-deep th#level > .mat-sort-header-container  {
	color: darkblue;
}

:host ::ng-deep th#isActive > .mat-sort-header-container  {
	display: flex;
	justify-content: center;
	color: darkblue;
}

:host ::ng-deep th#external > .mat-sort-header-container  {
	display: flex;
	justify-content: center;
	color: darkblue;
}

#staffList {
  margin-left:5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100%;
  overflow: auto;
}

table {
	width: 100%;
}

.mat-header-cell {
	height: 4em;
}

.row_any  {
	height: 2em;
}

.row_any:hover {
	height: 2em;
	border: 1px solid gray;
	color: blue;
	cursor: pointer;
}

.col_image {
	text-align:center;
	margin-top: 15px;
	align-content: center;
}

.contributor_active {
	background-color: white;
}

.contributor_inactive {
	background-color: whitesmoke;
}

.col_string {
	padding-left: 3px;
}
