.mat-dialog-title {
	color: antiquewhite;
	background-color: #343a40 !important;
	text-align: center;
	width: 100%;
	font-size: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;	
	margin: 0px;
}

.mat-dialog-content {
	margin: 0.5em;
}

.mat-dialog-actions {
	margin-bottom: 0px; 
}

button.actions {
	padding: 0.5em;
	margin-right: 1em;
	border-radius: 4px;	
}

.mat-header-cell {
  color: darkblue;
  padding-left: 1em;
}

.td-description {
  height: 1em;
  width: fit-content;
  padding-right: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1em;
}

.td-color {
  width: fit-content;
  padding: 0px;
  text-align: center;
}
