<div *ngIf="displayAttachment(id)" class="attachmentFile">

    <button
        class="btn btn-outline btn-outline-secondary rounded uploadFile"
        (click)="uploadFile(id)">
            <i class="fas glyphicon fa-file-upload" style="font-size: 24px;"></i>
    </button>

    <button
        class="btn btn-outline btn-outline-secondary rounded downloadFile"
        (click)="uploadFile(id)"
        [disabled]="isDisable(id)">
            &nbsp;
    </button>

    <textarea id="comment-{{id}}" class="fileLabel" matInput placeholder="Enter the file label" [(ngModel)]="label"></textarea>

</div>
