div.attachmentFile {
    margin: 0px;
    width: 350px;
    height: 35px;
    vertical-align: middle;
}

button.uploadFile, button.downloadFile{
    width: 30px;
    height: 30px;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
}

button.uploadFile:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

button.downloadFile:disabled {
    border-color: darkgrey;
}

textarea.fileLabel {
    width: 275px;
    height: 35px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5px;;
}