<div class="attachmentFile">
    
    <button
        class="btn btn-outline btn-outline-secondary rounded uploadFile"
        (click)="uploadFile(id)">
            <i class="fas glyphicon fa-file-upload" style="font-size: 24px;margin-top: 2px;"></i>
    </button>

    <button
        class="btn btn-outline btn-outline-secondary rounded downloadFile"
        mdbTooltip="Download the attached document related to this audit" placement="bottom"
        (click)="downloadFile(id)"
        [disabled]="isDisable(id)">
            <img 
                mdbTooltip="Download the attached document related to this audit" placement="bottom"
                *ngIf="relatedApplicationIcon != null"
                class="relatedApplicationIcon"
                [src]="relatedApplicationIcon" />
    </button>

    <textarea id="comment-{{id}}" class="fileLabel" 
        matInput placeholder="Enter the file label" 
        [(ngModel)]="label" (blur)="notifyLabelChange(id)"></textarea>

</div>
