:host ::ng-deep th#staffEvaluation > .mat-sort-header-container  {
	color: darkblue;
	min-width: 50px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#sonarEvaluation > .mat-sort-header-container  {
	color: darkblue;
	min-width: 50px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#auditEvaluation > .mat-sort-header-container  {
	color: darkblue;
	min-width: 50px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#name > .mat-sort-header-container  {
	color: darkblue;
	min-width: 300px;
	padding-left: 10px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#techno > .mat-sort-header-container  {
	color: darkblue;
	min-width: 300px;
	padding-left: 10px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#lastCommit > .mat-sort-header-container  {
	color: darkblue;
	min-width: 100px;
	margin-top: 20px;
	font-weight: 600;
	font-size: larger;
}

:host ::ng-deep th#lastCommitter > .mat-sort-header-container  {
	color: darkblue;
	margin-top: 20px;
	min-width: 200px;
	font-weight: 600;
	font-size: larger;
}

.row_any  {
	height: 45px;
}

#hostProjectsTable {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

td.name {
	padding-left: 10px;
}

div.awesomeTitle {
	float: left;
	padding: 3px;
}

i.awesomeTitle {
	font-size: 28px;
}
