div.projects_card {
    padding:10px;
    margin-left: 50px;
    margin-top: 20px;
    min-width: 500px;
    max-width: 800px;
}

:host >>> th#name > .mat-sort-header-container  {
    display: flex;
    color: darkblue
}

:host >>> th#numberOfCommits > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}


:host >>> th#numberOfFiles > .mat-sort-header-container  {
    display: flex;
    justify-content: flex-end;
    color: darkblue
}

:host >>> th#firstCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue
}

:host >>> th#lastCommit > .mat-sort-header-container  {
    display: flex;
    justify-content: center;
    color: darkblue 
}

.tableMissions {
    margin-top: 30px;
    margin-left: 0px;
}

.col_numeric, .col_date {
    height: 2em;
}

.col_numeric {
    text-align:right;
    height: 2em;
}

.col_date {
    text-align:center;   
    width : 120px;
}

.col_name {
    width : 285px;
}