<div id="logo" *ngIf="(summaryService.summary$|async).noData()">质</div>
<div id="summaries" *ngIf="!(summaryService.summary$|async).noData()">
	<div class="summary border m-1" id="small-logo">质</div>
	<div class="summary border m-1 position-relative" id="general-average">
		<app-audit-graphic-badge 
			[editable]=false 
			[project]=project
			[id]=selection.generalAverage >
		</app-audit-graphic-badge>

		<div class="position-absolute" style="width: 100px; height: 100px; bottom: 0; right: 0;"		
			(mouseenter)="popupHelper.mouseEnter(selection.generalAverage)" 
			(mouseleave)="popupHelper.mouseLeave()">
			<div class="host-treemap-projects">
				<app-treemap-projects 
					width="100px" 
					height="100px" 
					[buttonOrChart]="'button'"
					[active]="false">
				</app-treemap-projects>
			</div>
		</div>
	</div>
</div>

<angular-popper id="help-general-average" placement="bottom" target="#general-average" *ngIf="hasGeneralAverage()" >
	<div content class="help">
		<h4 class="help-title">General average</h4>
		<div class="help-content">
			<br/>
			<p>
				This score corresponds to the weighted average of your portfolio.
			</p>
			<p>
				Each project has a score, and a weight corresponding to its size.
				The score is calculated with 3 critera, if they are reachable.
			</p>
			<ul>
				<li>The Staff coverage</li>
				<li>The Sonar evaluation</li>
				<li>The Audit report</li>
			</ul>
		</div>
	</div>
</angular-popper>	
