:host {
	
	display: block;
	left: 0;

	width: 100%;
	height: 100%;

}

#logo {
	font-size: 420px;
	background: -webkit-linear-gradient(var(--color-selected), var(--color-error));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin: 40vh auto;
	transform: translateY(-50%);
	
	width: 450px;
	/* height: 450px; */
}
