<div class="skill_card skill">
	<h4 class="d-flex justify-content-between align-items-center mb-3">
		<div>
			<a [routerLink]=""	id="upLoadCV" (click)="upload()">
				<img id="image_upLoadCV" 
					alt="upload the application" 
					title="Upload the application file"
					[src]="image_upLoadCV"/>
			</a>
			<button *ngIf="image_downloadCV != null"
				class="btn btn-outline-secondary managerFile"
				mdbTooltip="Download the registered application for this staff member" placement="bottom"
				alt="download the application" 
				title="Download the registered application for this staff member"				
				(click)="download()">
				<i [ngClass]="classFile()"></i>
			</button>
<!--				
			<a [routerLink]="" id="downloadCV" (click)="download()" *ngIf="image_downloadCV != null">
				<img *ngIf="staff.application != null" 
					id="image_downloadCV" 
					alt="download the application" 
					title="Download the registered application for this staff member"
					[src]="image_downloadCV"/>
			</a>
-->
		</div>
		<div>		
			<span class="text-muted">Skills&nbsp;</span>
			<span class="badge badge-secondary badge-pill">{{this.staff.experiences.length}}</span>
		</div>
	</h4>
	<div class="tagify-stars skill">
		<app-tagify-stars 
			[whitelist]="whitelist" 
			[blacklist]="blacklist"
			[placeholder]="'Enter the skill'"
			[colorON]="'#28a745'"
			[colorOFF]="'white'"
			[originalValues]="originalValues"
			[additionalValues$]="additionalValues$"
			[values$]="values$"
			[readOnly$]="readOnly$"
			(addTagEvent)="onAddTagEvent($event)"
			(editTagEvent)="onEditTagEvent($event)"
			(removeTagEvent)="onRemoveTagEvent($event)"
			style="width:100%;height:100%;">
		</app-tagify-stars>
	</div>
</div>
