div.skill {
    width: 800px;
}

div.skill_card {
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

div.tagify-stars {
    min-height: 100px;
}

div.skill_card {
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

#image_upLoadCV {
	width: 45px;
	height: 45px;
}

button.managerFile {
	width: 40px;
	height: 40px;
    padding: 0px;
    padding: 0px;
    border-style: none;
    align-items : center;
    vertical-align: middle;
}

button.managerFile:hover {
    background-color: var(--color-selected);
    color: white;
    border-color: var(--color-selected);
}

.downloadIcon {
    font-size: 36px;
}

#upLoadCV {
/* remove for Sonar    display: flex; */
    border-radius: 25%;
    text-decoration: none;
    display: inline-block;
}

#upLoadCV:hover {
    background-color: lightGrey;
}


#headerSkills {
    display: inline-block;
    padding: 10px;
}
