<div class="auditReportForm">
    <div id="header-report-{{idTopic}}" class="header">
        <div class="logoHeader"><i class="{{fontAwesome}}" style="font-size: 22px;"></i></div>
        <div class="saveHeader" (click)="saveReport()"><i class="fas fa-save" style="font-size: 24px;"></i></div>
        <div class="title">{{title}}</div>
    </div>
    <form class="needs-validation" [formGroup]="profileAuditReport">
        <mat-form-field appearance="outline" class="comment">
            <mat-label>Audit report</mat-label>
            <textarea id="comment" name="comment" formControlName="comment" 
             matInput class="comment" placeholder=
            "Type here your technical report regarding the '{{title}}'"></textarea>
            <mat-hint>2000 caracters max</mat-hint>
        </mat-form-field>
    </form>
</div>