div.container-project-form {
	width: 1000px;
	margin: 0 auto;
}

div.container {
	display: inline-flex;
}

div.projectForm {
	min-width: 800px;
}

.required {
	font-weight: 600;
}

div.connection_settings {
	background-color:transparent;
	border-left-color: grey;
	border-left-width: 1px;
	border-left-style: solid;
	margin-top: 10px;
}

div.buttons_toggle {
	margin-right: 5px;
	margin-top: 20px;
	display:flex;
}

.lab_and_row_repository {
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 1em;
}

.lab_and_row_user_password {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.5em;
	padding-left: 1em;
}

div.explanation_access {
	font-size: 0.7em;
	color: grey;
	margin-left: 6em;
	margin-bottom: 2em;
}

.required {
	font-weight: 600;
}

div.skills {
	margin-top: 20px;
}

div.fields_host {
	margin-left: 0;
	padding: 0;
}

.labelProject {
	font-size: 24px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.labelSkills {
	font-size: 15px;
	margin-top: 5px;
}

div.icon-and-label-skills {
	display: inline-flex;
}

p.error {
	color: brown;
	font-weight: 500;
	padding: 10px 10px 10px 20px;/* top right bottom left */
}

div.globalBadge {
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 0;
	padding-right: 10px;
	min-width: 100px;
}

div.user-password {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}

div.label-user-password {
	padding-right: 0;
}

label.label-user-password {
	margin-bottom: 0;
	width: max-content;
}

div.connection-panel {
	margin-left: 30px;
}

div.icon-and-label-skills {
	border-radius: 50%;
    border-style: solid;
    border-width: 1px;
	border-color: lightgray;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

div.buttons_toggle button, div.buttons_toggle button:hover {
	border-radius: 50%;
    border-style: solid;
    border-width: 1px;
	border-color: lightgray;
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px 10px 0px 5px;
	font-size: 27px;
}

.mat-button-toggle-label-content {
	margin-top: 5px;
}
div.sonar, div.codeFactor {
	margin-top: 10px;
	margin-left: 5px;
}

img.logoTabLabel {
	width: 28px;
}

div.qualitySolution {
	margin-top: 20px;
}

div.sonarSolution, div.codeFactorSolution, div.textarea-skills {
	margin-top: 10px;
	margin-left: 30px;
	border-left-color: grey;
	border-left-width: 1px;
	border-left-style: solid;
}

.label_git_repo {
	margin-top: 5px;
}

div.message-git {
	background-color: var(--color-help);
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 2px;
	padding-left: 10px;
}
div.message-git p {
	color: var(--color-warning);
	margin-bottom: 0px;
}

label.alert {
	width: 100%; 
	font-size: 10px;
} 

#buttonOk {
	background-color: transparent;
}