.tile {
    background-color: transparent;
    justify-content: left;
    padding: 5px;
}

.message {
    margin: 0;
    padding: 0;
}

#url {
    margin: 10px;
}

#backendSetup {
    background-color: transparent;
    margin-left: 20px;
}

#submitButton {
    width: 120px;
    height: 120px;
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    outline: 0;
}

.urlEdition {
    background-image: url( /assets/img/save.png);
}

.urlEdition:hover  {
    background-image: url( /assets/img/save-selected.png);
}

.urlValid, .urlValid:hover {
    background-image: url( /assets/img/save-ok.png );
}

.urlInvalid, .urlInvalid:hover {
    background-image: url( /assets/img/save-error.png );
}

.validMessage {
    color: lightgreen;
    font-size: 18px;
}

.invalidMessage {
    color: var(--color-error);
    font-size: 18px;
}

footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

