#navMessage {
    padding:0px;
    margin:1px;
    height:40px
}

#containerMessage {
    text-align:center;
    width:100%;
    height:100%;
    padding-top:8px;
}

.warning {
    background-color: orange;
}

.error {
    background-color: var(--color-error);
}

.success {
    background-color: var(--color-selected);
}

.info {
    background-color: lightgray;
}

.void {
    background-color: transparent;
}
