.sunburst-tooltip {
  z-index: 500;
}

.sunburst-progress-bar {
	display: flex;
  	align-content: center;
  	align-items: center;
  	height: 6Opx;
}

.text-progress-bar {
	margin-left: 10px;
}

.component-container {
  height: 100%;
}

#chart {
  width: 500px;
}

mat-sidenav-container {
  min-height: 300px;
}

.sidenav-toolbar {
  width: 50px;
  min-height: 100%;
  background-color: whitesmoke;
}

mat-sidenav-content {
  margin-left: 50px;
}

.sidenav__content--height{
  min-height: 100vh;
}

#settings, #reset, #unknown, #legend, #dependencies, #sunburst {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-bottom: 5px;
}

.font-awesome-settings {
	font-size: 23px;
}

.inactive {
  background-color: transparent;
}

.round {
  border-radius: 25%;
}

.rules-of-risks {
  position: fixed;
  top: 10em;
  left: 2.5em;
}

.panelUnknows {
  position: fixed;
  top: 5em;
  left: 2em;
  width: 500px;
  height: 200px;
}

#titleSunburst {
  position: relative;
  top: 0.1em;
  left: 2.6em;
  font-size: 20px;
}

button.btn-outline-success {
    background-color: var(--color-selected);
    color: white;
}

#warningSunburstImpossible {
	margin: 20px;
	padding: 10px;
	background-color: whitesmoke;
	color: var(--color-error);
}

#warningProjectReadonly {
	margin: 20px;
	padding: 10px;
  background-color: whitesmoke;
  font-size: 30px;
  text-align: center;
	color: var(--color-error);
}

.divPanelOnTop {
  margin: 50px auto;
  width: fit-content;
}

.content-divPanel {
  margin: 50px auto;
}

#panelGhosts {
  min-width: 800px;
  margin-left: 30px;
  margin-top: 10px;
}

div.taskReport {
  margin-top: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

div.taskReportOk {
  color: var(--color-selected);
}

div.taskReportError {
  color: var(--color-error);
}

:host >>> div.angular-popper {
  background: lightyellow;
  width: 520px;
  left: -35px !important; 
  z-index: 100;
  font-size: smaller;
}


:host >>> div.angular-popper__arrow {
  background: lightyellow;
  border-color: lightgrey;
}
